#lab-smart-user, #loginFormSmart, #registerFormSmart, #smartForgotPass{display: none}
#loginFormSmart .button.b-close, #registerFormSmart .button.b-close, #smartForgotPass .button.b-close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    position: absolute;
    right: 15px;top: 8px;cursor: pointer;
}
#registerFormSmart input[type="text"],
#registerFormSmart input[type="email"],
#registerFormSmart input[type="password"],
#loginFormSmart input[type="text"],
#loginFormSmart input[type="email"],
#loginFormSmart input[type="password"]{
	max-width: 100% !important;
}
#registerFormSmart .form-control-comment{display: none;}
#registerFormSmart, #loginFormSmart, #smartForgotPass {
    background: #fff none repeat scroll 0 0;
    max-width: 90%;
    padding: 35px 0;
    width: 900px;
}
#center_column_smart {
    padding: 0 20px;
}
#center_column_smart h1 {
    font-size: 20px;
    margin-top: 0;
}
#loginFormSmart .input-group-btn, #registerFormSmart .input-group-btn {
    display: none;
}
#loginFormSmart #SubmitLogin, #loginFormSmart #SubmitLogin span, #loginFormSmart #SubmitLogin i{
	font-size: 15px;
}
#form_forgotpassword button, #form_forgotpassword button span, #form_forgotpassword button i{
	font-size: 15px;
}
#registerFormSmart #submitAccount, #registerFormSmart #submitAccount span, #registerFormSmart #submitAccount i{
	font-size: 15px;
}
#loginFormSmart #SubmitLogin,
#registerFormSmart #submitAccount, #form_forgotpassword button{border-radius: 5px;background: none;text-shadow:none;border:none;}
#loginFormSmart #SubmitLogin span,
#registerFormSmart #submitAccount span,
#form_forgotpassword button span{
	padding: 3px 10px 3px 11px;
}
#loginFormSmart #SubmitLogin span,
#registerFormSmart #submitAccount span,
#form_forgotpassword button span{
	background: none;border:1px #DDD solid;color: #333;border-radius: 30px;padding: 5px 20px;
}
#loginFormSmart .button.button-medium span i.left{vertical-align: 2px;}
.reActLogReg{display: inline-block;}
.header_user_info.smart-user-act {
    float: right;
    padding-top: 10px;
}
.header_user_info.smart-user-act a{color: #0000ff;}
.hight-light{border:1px #FF0000 solid; box-shadow: 0px 0px 5px -1px #FF0000;}

#registerFormSmart, #loginFormSmart, #smartForgotPass {
    background-clip: padding-box;
    background-color: #fff;
    background-image: url("../img/login-bg-1.jpg");
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}
#registerFormSmart{
    background-image: url("../img/login-bg-2.jpg");
}
#loginFormSmart #login-form,
#smartForgotPass form,
#registerFormSmart form {
    margin: 0 auto;
    text-align: center;
}
#registerFormSmart .form-group.row > div,
#smartForgotPass .form-group.row > div,
#loginFormSmart .form-group.row > div {
    float: none;
    margin: 0 auto;
}

.dor-formsmart .form-control::-moz-placeholder{
    color: #333 !important;
}
.dor-formsmart .form-group {
    margin-bottom: 15px !important;
}
.dor-formsmart form > h3 {
    color: #fff;
    font-weight: 500;
}
.smart-sign-txt {
    color: #fff;
    font-weight: 700;
}
.dor-formsmart .form-group .form-control{
    border:1px solid #f3f3f3 !important;
    border-radius: 5px !important;
    box-shadow: none;
    min-height: 40px;
}
.dor-formsmart form section{
    width: 300px;max-width: 100%;margin-left: auto;margin-right: auto;
}
.dor-formsmart .smartdor-footer.form-footer{
    padding:0px;
}
.dor-formsmart .smartdor-footer.form-footer .form-control-label {
    display: none;
}
.dor-button-connect > a:first-child {
    float: left;
}
.dor-button-connect > a:last-child {
    float: right;
}
.dor-button-connect > a {
    color: #ddd;
}
.dor-button-connect {
    padding-top: 20px;
}
.dor-formsmart .smartdor-footer.form-footer .fa {
    padding-right: 5px;
}
#registerFormSmart.dor-formsmart .smartdor-footer.form-footer .btn-primary,
.dor-formsmart .smartdor-footer.form-footer .btn-primary {
    display: block;
    width: 100%;
    border-radius: 5px !important;
    background: #67bd45 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    padding: 10px 15px;
    text-transform: capitalize;
}
#smartForgotPass form .smartdor-header p {
    color: #ddd;
    font-size: 15px;
    font-weight: 700;
}
.line-smart.signup{position: relative;}
#loginFormSmart .line-smart.signup::before, 
#registerFormSmart .line-smart.signup::before {
    border-top: 1px solid #dddddd;
    content: " ";
    display: inline-block;
    left: 0;
    margin: 0 7px 0 0;
    position: absolute;
    vertical-align: middle;
    width: 33%;
    top: 12px;
}
#loginFormSmart .line-smart.signup::after, 
#registerFormSmart .line-smart.signup::after {
    border-top: 1px solid #dddddd;
    content: " ";
    display: inline-block;
    right: 0;
    margin: 0 7px 0 0;
    position: absolute;
    vertical-align: middle;
    width: 33%;
    top: 12px;
}
.smart-sign-txt > span{color: #67bd45;}
#loginFormSmart .smart-fb-btn, #registerFormSmart .smart-fb-btn {
    background-color: #2852ab;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    width: 100%;
    margin:25px 0 20px;
}
#loginFormSmart .smart-fb-btn .btn-icon, #registerFormSmart .smart-fb-btn .btn-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    float: left;
    font-size: 20px;
    height: 100%;
    line-height: 45px;
    padding-right: 8px;
    position: relative;
    width: 15%;
}

.dor-formsmart .line-smart.signup{padding-top: 0px !important;color: #fff;font-weight: 700;}
.form-group-smart > div {
    float: left !important;
}
.form-group-smart > div:first-child{
    padding-right: 5px;
}
.form-group-smart > div:last-child{
    padding-left: 5px;
}

#registerFormSmart.dor-formsmart form > h3 {
    color: #333;
    font-weight: 500;
}
#registerFormSmart.dor-formsmart .smart-sign-txt,
#registerFormSmart.dor-formsmart .line-smart.signup{color: #333;}
#registerFormSmart .dor-button-connect > a{color: #333;}
.dor-formsmart h2.title-heading {
    margin-top: 0;
}
@media(max-width: 767px) and (min-width: 451px){
    .dor-formsmart form section{width: 400px;}
    #registerFormSmart .form-group-smart > div{float: left !important;width: 50%;}
}
@media(max-width: 450px){
    #loginFormSmart #login-form > h3 {
        font-size: 18px;
    }
    #loginFormSmart #login-form, #smartForgotPass form, #registerFormSmart form {
        padding-left: 15px;
        padding-right: 15px;
    }
    #registerFormSmart .form-group-smart > div{float: none !important;width: 100%;padding-left: 15px;padding-right: 15px;}
    #registerFormSmart .form-group-smart > div:first-child {
        padding-bottom: 15px;
    }
    #smartForgotPass form > h3,
    #registerFormSmart.dor-formsmart form > h3{font-size: 19px;}
}
@media(max-width: 370px){
    #registerFormSmart.dor-formsmart form > h3,
    #smartForgotPass form > h3{font-size: 17px;}
}