	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/12/2017 03:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-credit-card-4:before { content: "\f100"; }
.flaticon-refund:before { content: "\f101"; }
.flaticon-credit-card-3:before { content: "\f102"; }
.flaticon-payment-security:before { content: "\f103"; }
.flaticon-credit-card-2:before { content: "\f104"; }
.flaticon-credit-card-1:before { content: "\f105"; }
.flaticon-credit-card:before { content: "\f106"; }
.flaticon-telephone:before { content: "\f107"; }
.flaticon-24-hours-support:before { content: "\f108"; }
.flaticon-transport-6:before { content: "\f109"; }
.flaticon-shapes:before { content: "\f10a"; }
.flaticon-transport-5:before { content: "\f10b"; }
.flaticon-transport-4:before { content: "\f10c"; }
.flaticon-transport-3:before { content: "\f10d"; }
.flaticon-clock:before { content: "\f10e"; }
.flaticon-transport-2:before { content: "\f10f"; }
.flaticon-transport-1:before { content: "\f110"; }
.flaticon-transport:before { content: "\f111"; }
.flaticon-delivery:before { content: "\f112"; }
.flaticon-shipped:before { content: "\f113"; }
.flaticon-free-delivery:before { content: "\f114"; }
.flaticon-five-stars-outlines:before { content: "\f115"; }
.flaticon-ice-cream-cup-doodle:before { content: "\f116"; }
.flaticon-salad:before { content: "\f117"; }
.flaticon-nature-1:before { content: "\f118"; }
.flaticon-nature:before { content: "\f119"; }
.flaticon-broccoli-1:before { content: "\f11a"; }
.flaticon-broccoli:before { content: "\f11b"; }
.flaticon-fruit-2:before { content: "\f11c"; }
.flaticon-fruit-1:before { content: "\f11d"; }
.flaticon-fruit:before { content: "\f11e"; }
.flaticon-food:before { content: "\f11f"; }
.flaticon-mail:before { content: "\f120"; }
.flaticon-user:before { content: "\f121"; }
.flaticon-star:before { content: "\f122"; }
.flaticon-placeholder:before { content: "\f123"; }
.flaticon-search:before { content: "\f124"; }
.flaticon-like:before { content: "\f125"; }