
.order-tracking-demo {
    text-align: center;
}
.order-tracking-demo p {
    margin: 0px;
    color: #101010;
    font-weight: 300;
}

#order_email.form-control::-webkit-input-placeholder,
#orderid.form-control::-webkit-input-placeholder{
    color: #101010 !important;
}
#order_email.form-control::-moz-placeholder,
#orderid.form-control::-moz-placeholder{
    color: #101010 !important;
}


#module-dor_ordertracking-ordertracking .card{border:none;}
.result-order-header {
    text-align: center;
}
h2.title-order-tracking {
    color: #444;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 35px;
}
.line-order-tracking {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #333e48;
}
#order-tracking-form label {
    color: #101010;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
}
#order-tracking-form input.form-control {
    height: 40px;
}
#order-tracking-form {
    margin: 0 auto;
    width: 85%;
}
.tracking-form {
    padding-bottom: 45px;
    padding-top: 45px;
}
.order-detail-info strong {
    color: #101010;
    font-weight: 500;
}
.result-order-details > h3 span {
    color: #666;
    font-size: 30px;
    font-weight: 400;
    display: block;
}
.result-order-details {
    margin-top: 50px;
}
.result-order-details > h3 {
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
}
.result-order-details > h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    bottom: 0px;
    left: 0px;
}
.result-order-details > h3 span::after {
    background: #52afc6 none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 230px;
    z-index: 1;
}
.result-order-details #orderProducts .title_box {
    color: #444;
    font-weight: 500;
}
.result-order-details .product-line-row .productName{
    color: #52afc6;
}
.result-order-details .reference {
    display: block;
    font-size: 13px;
    margin-top: 10px;
    position: relative;
}
.result-order-details .reference i{color: #333;}
#orderProducts .product_price_show,
#orderProducts .total_product {
    color: #101010;
    font-size: 17px;
}
#orderProducts .total_product{font-size: 19px;}
.result-count-info .panel.panel-total {
    border: 1px solid #ddd;
    padding: 15px;
}
.result-count-info #total_products td{border-top:0px;}
.result-count-info tbody tr td.text-right{
    text-align: left !important;
}
#total_order .text-right > strong {
    color: #101010;
    font-size: 16px;
    font-weight: 600;
}
#ordertrack {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #52afc6;
    border-radius: 35px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    padding:8px 25px;
}
#ordertrack:hover{
    background:#52afc6;
    border-color: #52afc6;
    color: #fff;
}
#orderProducts small.text-muted {
    display: block;
}

@media(max-width: 991px){
    #order-tracking-form{width: 100%;}
    #module-dor_ordertracking-ordertracking .card {
        padding-left: 0;
        padding-right: 0;
    }
    #orderTracking-content-wrapper{padding-right: 0px;padding-left: 0px;}
    .tracking-form .form-row {
        padding-bottom: 15px;
        padding-top: 15px;
        width: 100%;
    }
}

@media(max-width: 480px){
    h2.title-order-tracking{font-size: 30px;}
    .line-order-tracking{font-size: 13px;}
}