{capture name=path}{l s='Gallery'}{/capture}
<h1 class="page-heading bottom-indent hidden">{l s="Gallery"}</h1>

<div id="dor-gallery-base" class="dorgallery-base-1">
	<div class="dor-gallery-wrapper">
		<div class="dor-gallery-content">
			<div class="dor-gallery-inner">
				<ul class="header-tab-gallery nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#gallery-0" aria-controls="gallery-0" role="tab" data-toggle="tab">{l s="All"}</a></li>
				    {foreach from=$categories item=category key=i}
				    <li role="presentation"><a href="#gallery-{$category.id_dorgallery_category}" aria-controls="gallery-{$category.id_dorgallery_category}" role="tab" data-toggle="tab">{$category.name}</a></li>
				    {/foreach}
				</ul>
				<div id="list-gallery-show-items" class="tab-content clearfix">
				    <div role="tabpanel" class="tab-pane active" id="gallery-0">
				    	<div class="data-gallery">
					    	<div class="gallery-content-detail grid">
					    		{if $tabdefaultID == 0}
						    		{include file="{$tpl_dir}../../modules/dorgallery/views/templates/front/_item/v1/lists.tpl"}
					    		{/if}
					    	</div>
					    	<div class="preview">
								<button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
								<div class="description description--preview"></div>
							</div>
						</div>
						<div class="dor-gallery-page">{$pageSite}</div>
				    </div>
				    {foreach from=$categories item=category key=j}
				    <div role="tabpanel" class="tab-pane" id="gallery-{$category.id_dorgallery_category}">
				    	<div class="data-gallery">
					    	<div class="gallery-content-detail grid">
					    		{if $tabdefaultID == $category.id_dorgallery_category}
						    		{include file="{$tpl_dir}../../modules/dorgallery/views/templates/front/_item/v1/lists.tpl"}
					    		{/if}
					    	</div>
					    	<div class="preview">
								<button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
								<div class="description description--preview"></div>
							</div>
						</div>
						<div class="dor-gallery-page">
							{if $tabdefaultID == $category.id_dorgallery_category}{$pageSite}{/if}
						</div>
				    </div>
				    {/foreach}
				</div>

			</div>
		</div>
	</div>
</div>
{addJsDef galleryVersion='gallery'}