.dorFilterInner .value-range {
    margin-top: 15px;float: right;margin-right: -10px;
}
.dorFilterInner input[name="submit_range"] {
    background: #2a2a2a none repeat scroll 0 0;
    border: medium none;
    border-radius: 35px;
    color: #fff;
    font-size: 14px;
    padding: 6px 25px;
    text-transform: uppercase;
}
.dorFilterInner .ui-widget-content {
    background: #e4e4e4 none repeat scroll 0 0;
    border: medium none;
}
.dorFilterInner .ui-slider-horizontal {
    height: 3px;
    margin: 25px 0 15px;
}
.dorFilterInner .ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    cursor: pointer;
}
.amount-price-show {
    float: left;margin-top: 21px;margin-left: -10px;
}
.amount-price-show .txt-price {
    padding-right: 5px;
}
.dorFilterInner .ui-slider-horizontal .ui-slider-handle{top: -6px;border:none !important;background: #67bd45 !important;}
.dorFilterInner .ui-slider-horizontal .ui-slider-range {
    background: #67bd45 none repeat scroll 0 0;
}
.dor-filter-price {
    padding-left: 10px;
    padding-right: 10px;
}
.dorFilterInner .dor-filter-price .title_block {
    margin-left: -10px;
    margin-right: -10px;
}