#dorTabContent .dor_boxnp .prev, #dorTabContent .dor_boxnp .next{
	transform: scale(1);
}
#dorTabContent {
    min-height: 475px;padding:35px 25px;
}
#dorTabContent .dor-cart-i.button.ajax_add_to_cart_button.btn.btn-default > span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border:none;
    line-height: 36px;
    padding: 0 14px;
}
#dorTabContent .dor-cart-i.button.ajax_add_to_cart_button.btn.btn-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 30px;
    color: #333;
    font-size: 12px;
    font-weight: 300;
    text-shadow: 0 0;
    text-transform: uppercase;
}
.loaddingAjax {
    background: rgba(0, 0, 0, 0) url("../images/preload.gif") no-repeat scroll center center;
    display: block;
    height: 64px;
    left: 47%;
    position: absolute;
    text-indent: -9999em;
    top: 45%;
    width: 64px;
}
.nav-tabs > li a{
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #c3c3c3;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 6px 8px 0 9px;
    text-transform: uppercase;
}

#dorTabAjax{border-bottom: none;}
#dorTabAjax {text-align: center;margin-bottom: 20px;padding-bottom:20px;}
.dor-tab-product-category-wrapper .nav > li.active > a{
    color: #000000;
}
#dorTabAjax > li{display: inline-block;margin: 0 5px;float: none;}
.dor-tab-product-category-wrapper .product-desc,
.dor-tab-product-category-wrapper .availability{display: none;}
.dor-tab-product-category-wrapper .right-block {
    text-align: center;
}
.dor-tab-product-category-wrapper .product-container.item.item-grid {
    background: #fff none repeat scroll 0 0;
    padding-bottom: 40px;
}
#dorTabProductCategoryContent.tab-content{margin-bottom: 0px;position: relative;}
#dorTabProductCategoryContent.tab-content .item-inner {
    display: block;
    overflow: hidden;
    padding-bottom: 25px;
    position: relative;
}
#dorTabProductCategoryContent.tab-content .itemTab {
    padding-bottom: 25px;
}
#dorTabProductCategoryContent.tab-content .product-flags {
    display: none;
}
.load-more-tab {
    clear: both;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 30px;
}
#dorTabProductCategoryContent > div.tab-pane{min-height: 300px;}
.loaddingAjaxTab {
    background: rgba(0, 0, 0, 0) url("../images/preload.gif") no-repeat scroll center center;
    display: block;
    height: 64px;
    left: calc(50% - 32px);
    position: absolute;
    text-indent: -9999em;
    top: 25%;
    width: 64px;
}


#dorTabProductCategoryContent article{
    width: 25%;float: left;padding-right: 15px;padding-left: 15px;
}
.dor-tab-product-category-wrapper .nav > li > a, .dor-tab-product-category-wrapper .nav > li > a:focus, .dor-tab-product-category-wrapper .nav > li > a:hover {
    border: 1px solid #ddd;
    border-radius: 35px;
    font-family: "Oswald",arial,tahoma;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 30px;
    text-transform: uppercase;
}
#dorTabAjax{position: relative;}
.dor-tab-product-category-wrapper #dorTabAjax::before {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 26.5%;
}
.dor-tab-product-category-wrapper #dorTabAjax::after {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    content: "";
    height: 5px;
    right: 0;
    position: absolute;
    top: 20px;
    width: 26.5%;
}
.dor-tab-product-category-wrapper #dorTabAjax > li {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    float: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}
#dor-tab-product-category {
    padding-left: 15px;
    padding-right: 15px;
}
.suggestions-contents .product_list {
    margin-left: -7px;
    margin-right: -7px;
}

#dorTabProductCategoryContent .graph__preloader{
    top: 20%;
}
@media(min-width: 992px){
    #dor-tab-product-category .img-responsive.dorlazy {
        min-height: 250px !important;
    }
}