.dor_search button[name="submit_search"]{
    background: #f49ac1;
}
.content_price .price, .load-more-tab.dor-icon-float-away, a#wishlist_button .material-icons, .product-cover .layer .zoom-in, .productscategory_h2 > span {
    color: #f49ac1 !important;
}
.promotion-banner > div a::before{
    border-bottom: 1px solid #f49ac1;
    border-top: 1px solid #f49ac1;
}
.promotion-banner > div a::after {
    border-left: 1px solid #f49ac1;
    border-right: 1px solid #f49ac1;
}
.owl-carousel .owl-controls .owl-nav > div:hover{
    background: #f49ac1;border-color: #f49ac1;
}
.addToDorWishlist i, .service-box-content i{color: #f49ac1;}
.button--sacnite:hover::before, .slider-content .price-slider.button--sacnite:hover::before,
.add-to-line > div > a:hover::before,
.content_price .deail-price-main.button--sacnite:hover::before, .action-button ul li a:hover::before {
    box-shadow: inset 0 0 0 2px #f49ac1;
}
.slider-content .price-slider.button--sacnite:hover::before, .add-to-line > div > a:hover::before,
.content_price .deail-price-main.button--sacnite:hover::before, .action-button ul li a:hover::before{
  box-shadow: inset 0 0 0 2px #f49ac1;
}
.button--sacnite:hover, .action-button ul li a:hover, .add-to-line > div > a:hover {
    border-color: #f49ac1;
}
.button.button--sacnite:hover i, .add-to-line > div > a:hover i{color: #f49ac1;}
.slider-content .price-slider.button--sacnite:hover span, .action-button ul li a:hover i, .add-to-line > div > a:hover i,
.content_price .deail-price-main.button--sacnite:hover span{color: #f49ac1 !important;}
.dor-list-effect-pizza2 ul.product_list.grid li.ajax_block_product .product-container:hover{
  border-color: #f49ac1;
}
.tooltip.left .tooltip-arrow{border-left-color:#f49ac1;}
.tooltip.fade.top.in > div.tooltip-inner{background: #f49ac1;}
.tooltip.fade.top.in > div.tooltip-arrow{border-top-color: #f49ac1;}
#dorTabAjaxPro li.active a, #dorTabAjaxPro li:hover a, #dorTabAjaxPro li a.active, #dorTabAjaxPro li:hover a.active{color:#f49ac1; }
#dorTabProductCategoryContentPro ul.product_list li.ajax_block_product .product-container:hover{
    border-color: #f49ac1;
}
.dor-tab-product-category-wrapper .nav > li > a:hover{color: #f49ac1 !important;border-color: #f49ac1 !important;}
.dor-tab-list-category .dorTabLists > li.active a, .dor-tab-list-category .dorTabLists > li a:hover, .dor-tab-list-category .dorTabLists > li:hover a::before, .dor-tab-list-category .dorTabLists > li.active a::before, .dor-tab-list-category .dorTabLists > li a.active, .dor-tab-list-category .dorTabLists > li a.active::before{
    color: #f49ac1 !important;
}
.dorTabLists.nav-tabs > li.active > a::before, .dorTabLists.nav-tabs > li.active > a:hover::before, .dorTabLists.nav-tabs > li > a.active::before, .dorTabLists.nav-tabs > li > a.active:hover::before {
    border-color: #f49ac1 !important;
    color: #f49ac1 !important;
}
.dorTabLists.nav-tabs > li > a:hover::before {
    border-color: #f49ac1 !important;
    color: #f49ac1 !important;
}
ul.product_list .product-name:hover, .product_list_sidebar h5 a.product-name:hover{color: #f49ac1;}
.info-blog-item h3.entry-title a:hover, .info-blog-item .read-more-link:hover{color: #f49ac1 !important;}
#to-top::after {
    background-color: #f49ac1;
    border-color: #f49ac1;
}
#to-top::before, #to-top::after{border-color: #f49ac1;}
.footer-contact-us ul li:last-child a:hover{
    border: 1px solid #f49ac1;background: #f49ac1;
}
.products article .dor-thumbnail-container:hover,
.dor-list-effect-pizza2 ul.product_list.list li.ajax_block_product .product-container:hover{border-color: #f49ac1;}
.viewed-product-lists .product-title a:hover, #products .product-title a:hover, .featured-products .product-title a:hover, .product-accessories .product-title a:hover, ul.product_list .product-name:hover{
    color: #f49ac1;
}
#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping{
    color: #f49ac1;
}
nav.pagination ul.page-list li.current > a, nav.pagination ul.page-list li.current > a:hover {
    background-color: #f49ac1;
    border-color: #f49ac1;
}
nav.pagination ul.page-list li.current > span,
nav.pagination ul.page-list li > a:hover{
    background-color: #f49ac1;
    border-color: #f49ac1;
}
.product-image-container-sidebar > a:before {
  border-top: 1px solid #f49ac1;
  border-bottom: 1px solid #f49ac1;
}
.product-image-container-sidebar > a:after {
  border-right: 1px solid #f49ac1;
  border-left: 1px solid #f49ac1;
}
.products-sort-order .select-list:hover{background-color: #f49ac1;}
.category-top-menu li a:hover,
#search_filters .facet .collapse > li a:hover span,
#search_filters .facet .collapse > li a:hover{color: #f49ac1;}
.product-actions .add-to-cart {
    background-color: #f49ac1;
    border-color: #f49ac1;
}
a#wishlist_button{border-color: #f49ac1;}
#tabInfoproduct li.nav-item .nav-link.active,
#tabInfoproduct li.nav-item .nav-link:hover, .blog-list-footer .readmore{
    border-color: #f49ac1;color: #f49ac1;
}
.product-images > li.thumb-container > .thumb.selected, .product-images > li.thumb-container > .thumb:hover{
    border-color: #f49ac1;
}
.dorSharingSocial > .tooltip.fade.top.in > div.tooltip-arrow {
    border-top-color: #f49ac1;
}
.dorSharingSocial .dor-social{border-color: #f49ac1;}
.dorSharingSocial .dor-social i, #blockcart-modal .product-name, #blockcart-modal .divide-right .col-md-6:last-child span, #blockcart-modal .divide-right .col-md-6:last-child > p:last-child{color: #f49ac1;}
.tooltip-inner {
    background-color: #f49ac1;
}
.tooltip.bs-tether-element-attached-right .tooltip-arrow, .tooltip.tooltip-left .tooltip-arrow {
    border-left-color: #f49ac1;
}
.tooltip.tooltip-top .tooltip-arrow, .tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
    border-top-color: #f49ac1;
}
.arrowStyleDot1 .owl-dot.active, .skill-line-processed, .quot-aboutus::before {background: #f49ac1 none repeat scroll 0 0;}
#blockcart-modal .cart-content .btn.btn-primary {
    background-color: #f49ac1;
    border-color: #f49ac1;
}
.btn-primary{background-color: #f49ac1;border-color: #f49ac1;}
.login-form footer button, #password .card-block form footer button, #customer-form footer button, .custom-radio input[type="radio"]:checked + span{
    background-color: #f49ac1;
}
body#checkout a:hover{color: #f49ac1;}
.blog-post-content-area .title-desc a:hover h4, .product-price, .order-confirmation-table .col-xs-5.text-xs-right.bold, .order-confirmation-table .col-xs-5.text-sm-right.text-xs-left, #order-items .order-confirmation-table table tr.font-weight-bold td:last-child {
    color: #f49ac1;
}
.blog-list-footer .readmore:hover, .box-info-product .exclusive, #submitComment, #submitMessage, #submitNewMessage, .fancy-button{background: #f49ac1;}
.shere-button-area .nav-button > a:hover, .single-post-tags > a:hover, .share-blog-widget a:hover, .author-content-info .shere-post li i:hover{color: #f49ac1;}
#tags_blog_block_left .block_content > a:hover{background: #f49ac1;border-color: #f49ac1;}
#sdssearch_block_top .btn.button-search, .list-service > li::before{color: #f49ac1;}
.live-social-connect-about-us > a:hover i{
  color: #f49ac1;
}
.dorNavSlider > div.av {
    background: #f49ac1 none repeat scroll 0 0 !important;
    border-color: #f49ac1;
}


.main-userinfo-head a.btn.btn-default, #dor-verticalmenu .dor-vertical-title{
  background: #f49ac1;border-color: #f49ac1;
}
body header#header .menu-group-show ul li .more-userinfo-link > span,
body header#header .menu-group-show .user-info ul li:hover, 
body header#header .menu-group-show .user-info ul li:hover a,
#header .hotSearch a:hover, .cart-txt-inner > span.cart-products-count,
.dor-megamenu ul.navbar-nav > li.active > a span, 
.dor-megamenu ul.navbar-nav > li > a:hover span,
.dor-megamenu ul.navbar-nav > li.parent > ul li a:hover,
.dor-megamenu #dor-top-menu .dropdown-menu li > a:hover span,
.dor-megamenu .widget-content ul li a:hover, #header a:hover{
    color: #f49ac1 !important;
}
.dor-megamenu .navbar-nav > li > .dropdown-menu,
.dor-megamenu .dropdown-submenu .dropdown-menu{
    border-top-color: #f49ac1 !important;
}
.dor-megamenu #dor-top-menu .dropdown-menu li > a:hover{
    border-bottom-color: #f49ac1 !important;
}
.dor-verticalmenu .navbar ul.verticalmenu.nav > li:hover > a, .dor-verticalmenu .navbar ul.verticalmenu.nav > li.active > a{
    background: #f49ac1 !important;color: #fff !important;
}
.dor-verticalmenu .navbar ul.verticalmenu.nav > li:hover > a span{color: #fff !important;}
.dor-service-style2 .service-box-content a:hover, .footer-container li a:hover{
    color: #f49ac1 !important;
}
.fixed .icon-search i:hover,
body header#header.fixed .header-cart-txt > i:hover, 
body header#header.fixed .user-info-inner > i:hover,
#footer_account_list #lnk_wishlist:hover span{
    color: #f49ac1 !important;
}
.fixed .user-info .toogle_content{
    top: 50px;
}
#footer_account_list #lnk_wishlist:hover::before{
    color: #f49ac1 !important;
}
.show-display-control a.active, .show-display-control a:hover{
  background: #f49ac1 none repeat scroll 0 0;
  border-color: #f49ac1;
}
body#category main article.dor-list-display .button.ajax_add_to_cart_button span,
body#category main article.dor-list-display .action-button ul li.icon-line-cart span.disabled, body#category main article.dor-list-display .action-button ul li a{background: #f49ac1 none repeat scroll 0 0;}
body#category main article.dor-list-display .action-button ul li.icon-line-cart span.disabled i, 
body#category main article.dor-list-display .action-button ul li a i,
body#category main article.dor-list-display .dor-wishlist a.addToDorWishlist i {
    color: #f49ac1;
}
body#category main article.dor-list-display .price-slider.button--sacnite:hover::before, 
body#category main article.dor-list-display .action-button ul li a:hover::before{
    box-shadow: 0 0 0 2px #f49ac1 inset !important;
}
body#category main article.dor-list-display .dor-wishlist a.addToDorWishlist{
  border-color: #f49ac1;
}

.product-line-grid-body .product-line-info:nth-child(4) span, .product-line-grid-body .product-line-info:nth-child(5) span{
  color: #f49ac1;
}
#cart .cart-grid .cart-grid-body > a.label:hover,
.checkout.cart-detailed-actions.card-block .btn.btn-primary:hover{
    background-color: #f49ac1;color: #fff;border-color: #f49ac1;
}
.product-line-grid-body .product-line-info:first-child a.label:hover, 
.js-discount.card-block.promo-discounts .cart-summary-line .label .code, 
.order-confirmation-table .order-line div.qty .col-xs-2 {
    color: #f49ac1;
}
a#wishlist_button .material-icons, .card-block .cart-summary-line.cart-total .value {
    color: #f49ac1;
}
footer.form-footer .continue:hover, .delivery-options-list .continue:hover, 
.js-address-form .continue:hover, #payment-confirmation .btn.btn-primary.center-block:hover{
    background-color: #f49ac1;color: #fff;border-color: #f49ac1;
}
.remove-from-cart::before {
    border-color: transparent transparent #f49ac1;
}
body#checkout section.checkout-step{
  border-color: #f49ac1 #c9d0cd #c9d0cd;
}

.product-cover .layer .zoom-in{color: #f49ac1;}
#contact-form-style2 .text-info-contact > p.txt-info {
    color: #f49ac1;
}
#contact-form-style2 .txt-head-contact > span {
    color: #f49ac1;
}
.cart_quantity_delete:hover::before{
    border-color: transparent transparent #f49ac1;
}
.cart_delete a.cart_quantity_delete i:hover{
    background: #f49ac1;
}
.address_alias{color: #f49ac1;}
p.payment_module a span{color: #f49ac1;}
.billingAddressLine a {
    color: #f49ac1;
}
.totalProductDorCart{
    color: #f49ac1;
}
button[name="submitAddDiscount"]:hover span{
    background: #f49ac1;border-color: #f49ac1;
}
.heading-counter > span#summary_products_quantity{color:#f49ac1; }
#cart_summary tbody td.cart_description small, .cart_voucher #display_cart_vouchers span{
    color: #f49ac1;
}
#cart_summary tbody td.cart_description small a{
    color: #f49ac1;
}
#cart_summary tfoot td#total_price_container{color: #f49ac1;}
.cart_navigation .button-medium span, #submitAddress span,
.footer_links .button.button-small span,
.address_update .button.button-small span,
#addresses .main-page-indent .button.button-medium span,
#order .address_add.submit .button.button-small span,
.history_detail .button.button-small span,
.history_detail .link-button,
#order-confirmation a.button-exclusive,
#identity form.std button[name="submitIdentity"] span,
#account-creation_form button[name="submitAccount"] span,
#SubmitLogin .text-auth,
#SubmitCreate .text-auth{
    background: #f49ac1 none repeat scroll 0 0;
}
.order-confirmation-table .col-xs-5.text-xs-right.bold, .order-confirmation-table .col-xs-5.text-sm-right.text-xs-left {
    color: #f49ac1;
}
#order-items .order-confirmation-table table tr.font-weight-bold td:last-child,
#my-account .page-footer .text-xs-center > a {
    color: #f49ac1;
}
footer.form-footer .continue:hover, .delivery-options-list .continue:hover, 
.js-address-form .continue:hover,
#payment-confirmation .btn.btn-primary.center-block:hover{
    background-color: #f49ac1 !important;
    border-color: #f49ac1 !important;
    color: #fff !important;
}
h2.auth-heading::before{
    background-color: #f49ac1 !important;
}
#my-account .page-footer .text-xs-center > a:hover,
#main .page-footer a:hover{
    border-color: #f49ac1 !important;background-color: #f49ac1 !important;color: #fff !important;
}
.page-my-account #content .links a:hover i,
#category_blog_block_left .sideber-menu a:hover,
.popular-post-details a:hover{color: #f49ac1 !important;}
.dorBlockCustom1{
    background-color: #f49ac1 !important;
}