h2.productscategory_h2 {
	margin:40px 0 20px 0;
	padding:10px 0;
	border-bottom:1px solid #ccc;
	font-size:18px;
	color:#333
}

#productscategory {overflow:auto}

#productscategory_list {
	overflow: hidden;
	float: left;
	width: 96%;
}
#productscategory_list ul {
	list-style-type:none;
	margin: 0 0 0 14px;
}
#productscategory_list li {
	float:left;
	margin: 0 9px;
    padding: 0 5px;
}
.blockproductscategory {
    margin-top: 60px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#productscategory_list li   {
		margin: 0 7px;
	}
}

#productscategory_list li a.lnk_img {display:block}
#productscategory_list li a img {border:1px solid #ccc}
#productscategory_list li p.product_name {text-align:center}

#productscategory_noscroll {
	min-height: 120px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
}

#productscategory_scroll_left, #productscategory_scroll_right {
	background: url('../img/thumbs_left.gif') no-repeat center;
	text-indent: -3000px;
	display: block;
	width: 9px;
	height: 18px;
	float: left;
	margin-top: 30px;
}

#productscategory_scroll_right { background-image: url('../img/thumbs_right.gif'); }


.same-list-title {
    margin-bottom: 45px;
}
.same-list-title h3 span {
    font-size: 23px;
    font-weight: 400;
    position: relative;
}
.same-list-title > h3 {
    margin-top: 0;margin-bottom: 0px;
}
.blockproductscategory .owl-carousel .owl-nav .owl-prev{right: 42px;}
.blockproductscategory .owl-carousel .owl-nav .owl-prev,
.blockproductscategory .owl-carousel .owl-nav .owl-next{
    background-color: #fff;
    position: absolute;
    top: -6px;
    margin-top: 0px;
    width: 40px;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.blockproductscategory .owl-carousel .owl-nav .owl-prev i,
.blockproductscategory .owl-carousel .owl-nav .owl-next i{
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
}

.blockproductscategory .same-list-title h3 {
    display: inline-block;
    position: relative;
    width: calc(100% - 0px);
}
.blockproductscategory .same-list-title h3::before {
    background-color: #f5f5f5;
    content: "";
    height: 1px;
    left: auto;
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 100%;
    display: none;
}
.blockproductscategory .same-list-title h3::after {
    background-color: #f5f5f5;
    content: "";
    height: 1px;
    left: auto;
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 100%;
}
.blockproductscategory .same-list-title span{
    padding-right: 0px;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.dor-tabsidebar-product-category-wrapper .owl-controls .owl-nav > div {
    top: 0px;
    border-radius: 35px !important;
    width: 35px;
}
.dor-tabsidebar-product-category-wrapper .owl-controls .owl-nav > div.owl-prev {
    right: 38px;
}