/* Block tags */
div.tags_block .block_content { padding: 3px 0px 0 }
div.tags_block p {
	text-align: justify;
	font-size: 0.9em
}
div.tags_block p a {
	margin: 0 0.1em;
	line-height: 1.5em;
	padding:2px;
}
div.tags_block p a:hover {
	background-color: #ccc;
	text-decoration: none;
	padding:2px;
	color:#333333;
}
a.tag_level3 { font-size: 15px; font-weight: bold;color: #333; }
a.tag_level2 { font-size: 15px; color: #4d4d4d;}
a.tag_level1 { font-size: 1em; color: #888 }
.tags_block .block_content > a {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    display: inline-block;
    float: left;
    line-height: 30px;
    margin: 3px 2px;
    min-height: 30px;
    padding: 0 10px !important;
}
.footer-container .tags_block .block_content > a {
	border-color:#4d4d4d;color: #4d4d4d;
}
.tags_block .block_content > a:hover{
	border-color: #5d957b !important;color: #5d957b !important;background: none !important;
}
#tags_block_left {
    padding-bottom: 40px;
}