
body {
    font-family: 'glacial_indifferenceregular', sans-serif !important;
    font-weight: normal;
    height: 100%;
    font-size: 15px;
    line-height: 24px;   
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
ul.product_list.list > li .button.ajax_add_to_cart_button span,
.footer-container #footer h4, #columns .section-title h2, #old_price, .our_price_display .price,
#new_comment_form h2, .page-subheading, .history_price .price, .cart_block .cart-buttons,
.cart_block .cart-buttons a span, #pagenotfound #page > div.columns-container, #pagenotfound #page > div.columns-container p,
.nav-tabs > li a, .sub-title p, .dor-megamenu .widget-content .widget-heading, .dor-megamenu .widget-content .widget-heading a, .dor-megamenu .widget-content ul li a,
.cart_voucher h4, .dor-megamenu ul.navbar-nav li a, .dor-slider-desc{
    font-family: "glacial_indifferenceregular",sans-serif;
}
