body{
      position: relative;
      background: url(../dorado/img/under-const.jpg) no-repeat fixed center center / cover ;
      min-height: 100%;
      height: 100%;
      box-shadow: none;
      font-family: Poppins;
      margin: 0px !important;
}
#body {
  background-color: #F7F7F7; }

#layout-error {
  text-align: center;
  margin: 50px 0 0 0;
  background-color: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
@media (min-width: 1200px) {
  #layout-error {
    margin: 126px 0 0 0;
    padding: 50px; } }
#layout-error .logo {
  margin: 0 0 31px 0;
  text-align: center; }
#layout-error h1 {
  font: 24px sans-serif;
  color: #333;
  padding: 0 0 14px 0;
  margin: 0 0 19px 0; }
#layout-error h2 {
  font: 20px sans-serif;
  color: #333;
  padding: 0 0 14px 0;
  margin: 0 0 19px 0; }
#layout-error .page-content {
  font: 16px sans-serif;
  color: #555454;
  text-align: center; }


html{
  min-height: 100%;
  height: 100%;
  position: relative;
  padding: 0px !important;
  margin: 0px !important;
}
body::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #101010;
  opacity: 0.5;

}
#layout-error h1 {
    margin-bottom: 50px;
    padding-bottom: 50px;
    position: relative;
}
#layout-error h1::after{
  content: "";
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 30px;
  bottom: 30px;
  left: calc(50% - 15px);
}
#layout-error {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100% !important;
    background:none !important;
    box-shadow: none;
    padding:0px;
    margin:0px;
}
#layout-error h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding-bottom: 0;
}
.page-maintenance > p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
}
.dor-under-construction {
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.under-construction-inner {
    display: table-cell;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
#under-construction-footer {
    bottom: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    text-decoration: none;
    width: 100%;
}
#under-construction-footer a{
  color: #67bd45;text-decoration: none;
}
#layout-error .page-content{margin-top: -10%;font-family: Poppins;}
.under-time-countdown {
    padding-top: 60px;
}
#countdown-timer-under .item-time {
    color: #fff;
    display: inline-block;
    margin: 0 15px;
}
#countdown-timer-under .item-time > span {
    display: block;font-size: 14px;font-weight: 300;
}
#countdown-timer-under .item-time > span.dw-time {
    font-size: 20px;
    font-weight: 300;
    position: relative;
    padding-bottom: 8px;
}
#countdown-timer-under .item-time > span.dw-time::after{
  content: "";
  position: absolute;
  height: 1px;
  background: #fff;
  width: 16px;
  left: calc(50% - 8px);
  bottom: 4px;
}
#countdown-timer-under .item-time {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    padding: 15px;
}
@media (min-width: 768px) {
  #layout-error {
    width: 500px; } }
@media (min-width: 992px) {
  #layout-error {
    width: 500px; } }
@media (min-width: 1200px) {
  #layout-error {
    width: 500px; } }
@media only screen and (min-width: 1200px) {
  #layout-error {
    padding-left: 0;
    padding-right: 0; } }
