    /*
    Flaticon icon font: Flaticon
    Creation date: 08/12/2017 04:07
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-credit-card-4:before { content: "\f100"; }
.flaticon-refund:before { content: "\f101"; }
.flaticon-credit-card-3:before { content: "\f102"; }
.flaticon-payment-security:before { content: "\f103"; }
.flaticon-credit-card-2:before { content: "\f104"; }
.flaticon-credit-card-1:before { content: "\f105"; }
.flaticon-credit-card:before { content: "\f106"; }
.flaticon-telephone:before { content: "\f107"; }
.flaticon-24-hours-support:before { content: "\f108"; }
.flaticon-transport-6:before { content: "\f109"; }
.flaticon-shapes:before { content: "\f10a"; }
.flaticon-transport-5:before { content: "\f10b"; }
.flaticon-transport-4:before { content: "\f10c"; }
.flaticon-transport-3:before { content: "\f10d"; }
.flaticon-clock:before { content: "\f10e"; }
.flaticon-transport-2:before { content: "\f10f"; }
.flaticon-transport-1:before { content: "\f110"; }
.flaticon-transport:before { content: "\f111"; }
.flaticon-delivery:before { content: "\f112"; }
.flaticon-shipped:before { content: "\f113"; }
.flaticon-free-delivery:before { content: "\f114"; }
.flaticon-five-stars-outlines:before { content: "\f115"; }
.flaticon-ice-cream-cup-doodle:before { content: "\f116"; }
.flaticon-salad:before { content: "\f117"; }
.flaticon-nature-1:before { content: "\f118"; }
.flaticon-nature:before { content: "\f119"; }
.flaticon-broccoli-1:before { content: "\f11a"; }
.flaticon-broccoli:before { content: "\f11b"; }
.flaticon-fruit-2:before { content: "\f11c"; }
.flaticon-fruit-1:before { content: "\f11d"; }
.flaticon-fruit:before { content: "\f11e"; }
.flaticon-food:before { content: "\f11f"; }
.flaticon-mail:before { content: "\f120"; }
.flaticon-user:before { content: "\f121"; }
.flaticon-star:before { content: "\f122"; }
.flaticon-placeholder:before { content: "\f123"; }
.flaticon-search:before { content: "\f124"; }
.flaticon-like:before { content: "\f125"; }
    
    $font-Flaticon-credit-card-4: "\f100";
    $font-Flaticon-refund: "\f101";
    $font-Flaticon-credit-card-3: "\f102";
    $font-Flaticon-payment-security: "\f103";
    $font-Flaticon-credit-card-2: "\f104";
    $font-Flaticon-credit-card-1: "\f105";
    $font-Flaticon-credit-card: "\f106";
    $font-Flaticon-telephone: "\f107";
    $font-Flaticon-24-hours-support: "\f108";
    $font-Flaticon-transport-6: "\f109";
    $font-Flaticon-shapes: "\f10a";
    $font-Flaticon-transport-5: "\f10b";
    $font-Flaticon-transport-4: "\f10c";
    $font-Flaticon-transport-3: "\f10d";
    $font-Flaticon-clock: "\f10e";
    $font-Flaticon-transport-2: "\f10f";
    $font-Flaticon-transport-1: "\f110";
    $font-Flaticon-transport: "\f111";
    $font-Flaticon-delivery: "\f112";
    $font-Flaticon-shipped: "\f113";
    $font-Flaticon-free-delivery: "\f114";
    $font-Flaticon-five-stars-outlines: "\f115";
    $font-Flaticon-ice-cream-cup-doodle: "\f116";
    $font-Flaticon-salad: "\f117";
    $font-Flaticon-nature-1: "\f118";
    $font-Flaticon-nature: "\f119";
    $font-Flaticon-broccoli-1: "\f11a";
    $font-Flaticon-broccoli: "\f11b";
    $font-Flaticon-fruit-2: "\f11c";
    $font-Flaticon-fruit-1: "\f11d";
    $font-Flaticon-fruit: "\f11e";
    $font-Flaticon-food: "\f11f";
    $font-Flaticon-mail: "\f120";
    $font-Flaticon-user: "\f121";
    $font-Flaticon-star: "\f122";
    $font-Flaticon-placeholder: "\f123";
    $font-Flaticon-search: "\f124";
    $font-Flaticon-like: "\f125";