.dor_search button[name="submit_search"]{
    background: #55a9d4;
}
.content_price .price, .load-more-tab.dor-icon-float-away, a#wishlist_button .material-icons, .product-cover .layer .zoom-in, .productscategory_h2 > span {
    color: #55a9d4 !important;
}
.promotion-banner > div a::before{
    border-bottom: 1px solid #55a9d4;
    border-top: 1px solid #55a9d4;
}
.promotion-banner > div a::after {
    border-left: 1px solid #55a9d4;
    border-right: 1px solid #55a9d4;
}
.owl-carousel .owl-controls .owl-nav > div:hover{
    background: #55a9d4;border-color: #55a9d4;
}

.button--sacnite:hover::before, .slider-content .price-slider.button--sacnite:hover::before,
.add-to-line > div > a:hover::before,
.content_price .deail-price-main.button--sacnite:hover::before, .action-button ul li a:hover::before {
    box-shadow: inset 0 0 0 2px #55a9d4;
}
.slider-content .price-slider.button--sacnite:hover::before, .add-to-line > div > a:hover::before,
.content_price .deail-price-main.button--sacnite:hover::before, .action-button ul li a:hover::before{
  box-shadow: inset 0 0 0 2px #55a9d4;
}
.button--sacnite:hover, .action-button ul li a:hover, .add-to-line > div > a:hover {
    border-color: #55a9d4;
}
.button.button--sacnite:hover i, .add-to-line > div > a:hover i{color: #55a9d4;}
.slider-content .price-slider.button--sacnite:hover span, .action-button ul li a:hover i, .add-to-line > div > a:hover i,
.content_price .deail-price-main.button--sacnite:hover span{color: #55a9d4 !important;}
.dor-list-effect-pizza2 ul.product_list.grid li.ajax_block_product .product-container:hover{
  border-color: #55a9d4;
}
.tooltip.left .tooltip-arrow{border-left-color:#55a9d4;}
.tooltip.fade.top.in > div.tooltip-inner{background: #55a9d4;}
.tooltip.fade.top.in > div.tooltip-arrow{border-top-color: #55a9d4;}
#dorTabAjaxPro li.active a, #dorTabAjaxPro li:hover a, #dorTabAjaxPro li a.active, #dorTabAjaxPro li:hover a.active{color:#55a9d4; }
#dorTabProductCategoryContentPro ul.product_list li.ajax_block_product .product-container:hover{
    border-color: #55a9d4;
}
.dor-tab-product-category-wrapper .nav > li > a:hover{color: #55a9d4 !important;border-color: #55a9d4 !important;}
.dor-tab-list-category .dorTabLists > li.active a, .dor-tab-list-category .dorTabLists > li a:hover, .dor-tab-list-category .dorTabLists > li:hover a::before, .dor-tab-list-category .dorTabLists > li.active a::before, .dor-tab-list-category .dorTabLists > li a.active, .dor-tab-list-category .dorTabLists > li a.active::before{
    color: #55a9d4 !important;
}
.dorTabLists.nav-tabs > li.active > a::before, .dorTabLists.nav-tabs > li.active > a:hover::before, .dorTabLists.nav-tabs > li > a.active::before, .dorTabLists.nav-tabs > li > a.active:hover::before {
    border-color: #55a9d4 !important;
    color: #55a9d4 !important;
}
.dorTabLists.nav-tabs > li > a:hover::before {
    border-color: #55a9d4 !important;
    color: #55a9d4 !important;
}
ul.product_list .product-name:hover, .product_list_sidebar h5 a.product-name:hover{color: #55a9d4;}
.info-blog-item h3.entry-title a:hover, .info-blog-item .read-more-link:hover{color: #55a9d4 !important;}
#to-top::after {
    background-color: #55a9d4;
    border-color: #55a9d4;
}
#to-top::before, #to-top::after{border-color: #55a9d4;}
.footer-contact-us ul li:last-child a:hover{
    border: 1px solid #55a9d4;background: #55a9d4;
}
.products article .dor-thumbnail-container:hover,
.dor-list-effect-pizza2 ul.product_list.list li.ajax_block_product .product-container:hover{border-color: #55a9d4;}
.viewed-product-lists .product-title a:hover, #products .product-title a:hover, .featured-products .product-title a:hover, .product-accessories .product-title a:hover, ul.product_list .product-name:hover{
    color: #55a9d4;
}
#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping{
    color: #55a9d4;
}
nav.pagination ul.page-list li.current > a, nav.pagination ul.page-list li.current > a:hover {
    background-color: #55a9d4;
    border-color: #55a9d4;
}
nav.pagination ul.page-list li.current > span,
nav.pagination ul.page-list li > a:hover{
    background-color: #55a9d4;
    border-color: #55a9d4;
}
.product-image-container-sidebar > a:before {
  border-top: 1px solid #55a9d4;
  border-bottom: 1px solid #55a9d4;
}
.product-image-container-sidebar > a:after {
  border-right: 1px solid #55a9d4;
  border-left: 1px solid #55a9d4;
}
.products-sort-order .select-list:hover{background-color: #55a9d4;}
.category-top-menu li a:hover,
#search_filters .facet .collapse > li a:hover span,
#search_filters .facet .collapse > li a:hover{color: #55a9d4;}
.product-actions .add-to-cart {
    background-color: #55a9d4;
    border-color: #55a9d4;
}
a#wishlist_button{border-color: #55a9d4;}
#tabInfoproduct li.nav-item .nav-link.active,
#tabInfoproduct li.nav-item .nav-link:hover, .blog-list-footer .readmore{
    border-color: #55a9d4;color: #55a9d4;
}
.product-images > li.thumb-container > .thumb.selected, .product-images > li.thumb-container > .thumb:hover{
    border-color: #55a9d4;
}
.dorSharingSocial > .tooltip.fade.top.in > div.tooltip-arrow {
    border-top-color: #55a9d4;
}
.dorSharingSocial .dor-social{border-color: #55a9d4;}
.dorSharingSocial .dor-social i, #blockcart-modal .product-name, #blockcart-modal .divide-right .col-md-6:last-child span, #blockcart-modal .divide-right .col-md-6:last-child > p:last-child{color: #55a9d4;}
.tooltip-inner {
    background-color: #55a9d4;
}
.tooltip.bs-tether-element-attached-right .tooltip-arrow, .tooltip.tooltip-left .tooltip-arrow {
    border-left-color: #55a9d4;
}
.tooltip.tooltip-top .tooltip-arrow, .tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
    border-top-color: #55a9d4;
}
.arrowStyleDot1 .owl-dot.active, .skill-line-processed, .quot-aboutus::before {background: #55a9d4 none repeat scroll 0 0;}
#blockcart-modal .cart-content .btn.btn-primary {
    background-color: #55a9d4;
    border-color: #55a9d4;
}
.btn-primary{background-color: #55a9d4;border-color: #55a9d4;}
.login-form footer button, #password .card-block form footer button, #customer-form footer button, .custom-radio input[type="radio"]:checked + span{
    background-color: #55a9d4;border-color: #55a9d4;color: #fff;
}
body#checkout a:hover{color: #55a9d4;}
.blog-post-content-area .title-desc a:hover h4, .product-price, .order-confirmation-table .col-xs-5.text-xs-right.bold, .order-confirmation-table .col-xs-5.text-sm-right.text-xs-left, #order-items .order-confirmation-table table tr.font-weight-bold td:last-child {
    color: #55a9d4;
}
.blog-list-footer .readmore:hover, .box-info-product .exclusive, #submitComment, #submitMessage, #submitNewMessage, .fancy-button{background: #55a9d4;border-color: #55a9d4 !important;color: #fff !important}
.shere-button-area .nav-button > a:hover, .single-post-tags > a:hover, .share-blog-widget a:hover, .author-content-info .shere-post li i:hover{color: #55a9d4;}
#tags_blog_block_left .block_content > a:hover{background: #55a9d4 !important;border-color: #55a9d4 !important;}
.submit #submitComment:hover{
    background: #fff !important;color: #55a9d4 !important;
}
.submit #submitMessage:hover{background: #fff !important;color: #55a9d4 !important;}
#sdssearch_block_top .btn.button-search, .list-service > li::before{color: #55a9d4;}
.live-social-connect-about-us > a:hover i{
  color: #55a9d4;
}
.dorNavSlider > div.av {
    background: #55a9d4 none repeat scroll 0 0 !important;
    border-color: #55a9d4;
}
.group-contact-form .social-connect-icon a:hover{
    border-color: #55a9d4;
}
.group-contact-form .social-connect-icon a:hover i{color: #55a9d4;}
.main-userinfo-head a.btn.btn-default, #dor-verticalmenu .dor-vertical-title{
  background: #55a9d4;border-color: #55a9d4;
}
body header#header .menu-group-show ul li .more-userinfo-link > span,
body header#header .menu-group-show .user-info ul li:hover, 
body header#header .menu-group-show .user-info ul li:hover a,
#header .hotSearch a:hover, .cart-txt-inner > span.cart-products-count,
.dor-megamenu ul.navbar-nav > li.active > a span, 
.dor-megamenu ul.navbar-nav > li > a:hover span,
.dor-megamenu ul.navbar-nav > li.parent > ul li a:hover,
.dor-megamenu #dor-top-menu .dropdown-menu li > a:hover span,
.dor-megamenu .widget-content ul li a:hover, #header a:hover,
.dor-megamenu ul.navbar-nav > li > a:focus span,
.dor-megamenu ul.navbar-nav > li.parent > ul li a:focus,
.dor-megamenu #dor-top-menu .dropdown-menu li > a:focus span,
.dor-megamenu .widget-content ul li a:focus, #header a:focus{
    color: #55a9d4 !important;
}
.dor-megamenu .navbar-nav > li > .dropdown-menu,
.dor-megamenu .dropdown-submenu .dropdown-menu{
    border-top-color: #55a9d4 !important;
}
.dor-megamenu #dor-top-menu .dropdown-menu li > a:hover{
    border-bottom-color: #55a9d4 !important;
}
.dor-verticalmenu .navbar ul.verticalmenu.nav > li:hover > a, .dor-verticalmenu .navbar ul.verticalmenu.nav > li.active > a{
    background: #55a9d4 !important;color: #fff !important;
}
.dor-verticalmenu .navbar ul.verticalmenu.nav > li:hover > a span{color: #fff !important;}
.dor-service-style2 .service-box-content a:hover, .footer-container li a:hover{
    color: #55a9d4 !important;
}
.fixed .icon-search i:hover,
body header#header.fixed .header-cart-txt > i:hover, 
body header#header.fixed .user-info-inner > i:hover,
#footer_account_list #lnk_wishlist:hover span{
    color: #55a9d4 !important;
}
.fixed .user-info .toogle_content{
    top: 50px;
}
#footer_account_list #lnk_wishlist:hover::before{
    color: #55a9d4 !important;
}
.show-display-control a.active, .show-display-control a:hover{
  background: #55a9d4 none repeat scroll 0 0;
  border-color: #55a9d4;
}
body#category main article.dor-list-display .button.ajax_add_to_cart_button span,
body#category main article.dor-list-display .action-button ul li.icon-line-cart span.disabled, body#category main article.dor-list-display .action-button ul li a{background: #55a9d4 none repeat scroll 0 0;}
body#category main article.dor-list-display .action-button ul li.icon-line-cart span.disabled i, 
body#category main article.dor-list-display .action-button ul li a i,
body#category main article.dor-list-display .dor-wishlist a.addToDorWishlist i {
    color: #55a9d4;
}
body#category main article.dor-list-display .price-slider.button--sacnite:hover::before, 
body#category main article.dor-list-display .action-button ul li a:hover::before{
    box-shadow: 0 0 0 2px #55a9d4 inset !important;
}
body#category main article.dor-list-display .dor-wishlist a.addToDorWishlist{
  border-color: #55a9d4;
}

.product-line-grid-body .product-line-info:nth-child(4) span, .product-line-grid-body .product-line-info:nth-child(5) span{
  color: #55a9d4;
}
#cart .cart-grid .cart-grid-body > a.label:hover,
.checkout.cart-detailed-actions.card-block .btn.btn-primary:hover{
    background-color: #55a9d4;color: #fff;border-color: #55a9d4;
}
.product-line-grid-body .product-line-info:first-child a.label:hover, 
.js-discount.card-block.promo-discounts .cart-summary-line .label .code, 
.order-confirmation-table .order-line div.qty .col-xs-2 {
    color: #55a9d4;
}
a#wishlist_button .material-icons, .card-block .cart-summary-line.cart-total .value {
    color: #55a9d4;
}
footer.form-footer .continue:hover, .delivery-options-list .continue:hover, 
.js-address-form .continue:hover, #payment-confirmation .btn.btn-primary.center-block:hover{
    background-color: #55a9d4;color: #fff;border-color: #55a9d4;
}
.remove-from-cart::before {
    border-color: transparent transparent #55a9d4;
}
body#checkout section.checkout-step{
  border-color: #55a9d4 #c9d0cd #c9d0cd;
}

.product-cover .layer .zoom-in{color: #55a9d4;}
#contact-form-style2 .text-info-contact > p.txt-info {
    color: #55a9d4;
}
#contact-form-style2 .txt-head-contact > span {
    color: #55a9d4;
}
.cart_quantity_delete:hover::before{
    border-color: transparent transparent #55a9d4;
}
.cart_delete a.cart_quantity_delete i:hover{
    background: #55a9d4;
}
.address_alias{color: #55a9d4;}
p.payment_module a span{color: #55a9d4;}
.billingAddressLine a {
    color: #55a9d4;
}
.totalProductDorCart{
    color: #55a9d4;
}
button[name="submitAddDiscount"]:hover span{
    background: #55a9d4;border-color: #55a9d4;
}
.heading-counter > span#summary_products_quantity{color:#55a9d4; }
#cart_summary tbody td.cart_description small, .cart_voucher #display_cart_vouchers span{
    color: #55a9d4;
}
#cart_summary tbody td.cart_description small a{
    color: #55a9d4;
}
#cart_summary tfoot td#total_price_container{color: #55a9d4;}
.cart_navigation .button-medium span, #submitAddress span,
.footer_links .button.button-small span,
.address_update .button.button-small span,
#addresses .main-page-indent .button.button-medium span,
#order .address_add.submit .button.button-small span,
.history_detail .button.button-small span,
.history_detail .link-button,
#order-confirmation a.button-exclusive,
#identity form.std button[name="submitIdentity"] span,
#account-creation_form button[name="submitAccount"] span,
#SubmitLogin .text-auth,
#SubmitCreate .text-auth{
    background: #55a9d4 none repeat scroll 0 0;
}
.order-confirmation-table .col-xs-5.text-xs-right.bold, .order-confirmation-table .col-xs-5.text-sm-right.text-xs-left {
    color: #55a9d4;
}
#order-items .order-confirmation-table table tr.font-weight-bold td:last-child,
#my-account .page-footer .text-xs-center > a {
    color: #55a9d4;
}
footer.form-footer .continue:hover, .delivery-options-list .continue:hover, 
.js-address-form .continue:hover,
#payment-confirmation .btn.btn-primary.center-block:hover{
    background-color: #55a9d4 !important;
    border-color: #55a9d4 !important;
    color: #fff !important;
}
h2.auth-heading::before{
    background-color: #55a9d4 !important;
}
#my-account .page-footer .text-xs-center > a:hover,
#main .page-footer a:hover{
    border-color: #55a9d4 !important;background-color: #55a9d4 !important;color: #fff !important;
}
.page-my-account #content .links a:hover i,
#category_blog_block_left .sideber-menu a:hover,
.popular-post-details a:hover{color: #55a9d4 !important;}


.dorBlockCustom1{
    background-color: #55a9d4 !important;
}


.blockcart.cart-preview .cart-products-count {
    background-color: #55a9d4 !important;
    border-color: #55a9d4 !important;
    color: #fff !important;
}
.button-act-minicart a.mini-cart-view{
    background-color: #55a9d4;border-color: #55a9d4;
}
.dor-megamenu .navbar-nav > li > .dropdown-menu a:hover, .header-nav .right-nav button:hover i,
#header .header-nav .blockcart a:hover i, .mini-cart-info > span.product-price,
.header-social-button > a:hover i, .dropdown-menu > li.current > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover,
#dor-topbar01 .user-info .toogle_content li a:hover,
#dor-topbar01 .user-info .toogle_content li a:hover i,
#dor-tab-product-category .load-more-tab i{
    color: #55a9d4 !important;
}
.widget-content ul.nav-links li::before, .dor-megamenu .navbar-nav > li > .dropdown-menu li .widget-inner.block_content li::before, .dor-megamenu .navbar-nav > li.parent.dropdown.aligned-left ul li::before, .dor-megamenu .navbar-nav > li.parent.dropdown.aligned-right ul li::before{
    color: #55a9d4 !important;
}

.main-info-line:hover, .main-info-line:hover::before, .main-info-line:hover::after,
.dor-promotion-inner:hover,
.item-blog-data:hover .item-blog-media::before{
    border-color: #55a9d4;
}
.dor-tab-product-category-wrapper .nav > li.active > a, .dor-tab-product-category-wrapper .nav > li > a:focus, 
.dor-tab-product-category-wrapper .nav > li > a:hover, .item-content-blog .read-more-link span:hover{
    border-color: #55a9d4;color: #55a9d4;
}
article .product-container:hover .dor-compare-button-fel .add_to_compare i,
article .product-container:hover .dor-wishlist > a i{color: #55a9d4 !important;}
article .product-container:hover .product-image-container, #dor-tab-product-category .load-more-tab{border-color: #55a9d4;}
.product-cover .layer .zoom-in{color:#55a9d4; }
article .product-container:hover .dor-wishlist > a,
article .product-container:hover .dor-compare-button-fel .add_to_compare,
article .product-container:hover .cart-button.button.ajax_add_to_cart_button.add-to-cart span,
.ajax_block_product_sidebar:hover .cart-button.button.ajax_add_to_cart_button.add-to-cart span,
#header .header-nav .blockcart a:hover, .block-categories .category-sub-menu li > a:hover,
.tags_block .block_content > a:hover{
    border-color: #55a9d4 !important;
    color: #55a9d4 !important;
}
div.star::after, .product-price-and-shipping span {
    color: #55a9d4;
}
#dor-tab-product-category .load-more-tab:hover,
#newsletter-footer .btn.btn-primary, #content .product-flags > li.product-flag.new{background-color: #55a9d4 !important;}
#dor-tab-product-category .load-more-tab:hover i{color: #fff !important;}
.addToDorWishlist:hover i, .dor-wishlist > a#wishlist_button:hover i,
.item-content-blog .entry-title a:hover, .footer-bottom-info-wapper a{
    color: #55a9d4 !important;
}
.suggestions-contents article .product-container:hover .product-image-container .thumbnail.product-thumbnail img,
.suggestions-contents article .product-container:hover .product-image-container .thumbnail.product-thumbnail::before{border-color: #55a9d4;}
.product-name:hover, .btn.btn-scale.btn-go-cate, .list-compare-left ul li a:hover, .list-compare-left ul li:hover .compare_remove i{
    color: #55a9d4 !important;
}
.row-latest-news .owl-carousel .owl-nav .owl-prev:hover,
.row-latest-news .owl-carousel .owl-nav .owl-next:hover,
.footer-social .social a:hover,
.ui-slider-handle.ui-state-default.ui-corner-all, .dorFilterInner input[name="submit_range"]:hover, 
#product_comparison .add-to-cart, .actions-footer-sidebar > a.dor-sidebar-compare, .compare_footer_link .button.lnk_view.btn.btn-default{
    background-color: #55a9d4;
    border-color: #55a9d4
}
.title_block::before, .category-top-menu .text-uppercase.h6::before, #left-column .text-uppercase.h6::before, 
#right-column .text-uppercase.h6::before, .widget-content .widget-heading.title_block::before,
.ui-slider .ui-slider-range.ui-widget-header, .dorFilterInner input[name="submit_range"]:hover,
#tabInfoproduct.tabs .nav-tabs .nav-link.active, #tabInfoproduct.tabs .nav-tabs .nav-link:hover,
#blockcart-modal .modal-header, #blockcart-modal .cart-content .cart-content-btn .btn.btn-primary,
#order-confirmation #order-items .card-title.h3::after, #order-confirmation #order-details .card-title.h3::after,
.dorHeaderSearch-Wapper, .dor-cus-loginform-text::before{
    background-color: #55a9d4 !important;
}
.block-categories .collapse-icons .add:hover,.block-categories .collapse-icons .remove:hover,
.block-categories .arrows .arrow-down:hover,.block-categories .arrows .arrow-right:hover{color:#55a9d4}
.js-search-filters-clear-all:hover{
    background-color: #55a9d4;
    border-color: #55a9d4;
    color: #fff;
}
#search_filters .facet .facet-label:hover .custom-checkbox span,
#search_filters .facet .facet-label:hover a,
.product-image-container-sidebar:hover > a{border-color: #55a9d4 !important;}
.current-price, #product-availability .material-icons {
    color: #55a9d4;
}
.bootstrap-touchspin .input-group-btn-vertical > .btn:hover, .continue:hover{
    background: #55a9d4 !important;border-color: #55a9d4 !important;
}
.dor-wishlist > a:hover i, .compare-product-button .add_to_compare:hover i,
.control-action-buttons ul li a:hover i,
.product-line-grid-body .product-line-info:first-child a.label:hover, .product-line-info > span.label, body#checkout #cart-summary-product-list .media-body .product-price.pull-xs-right{
    color: #55a9d4 !important;
}
.dor-wishlist > a:hover, .compare-product-button .add_to_compare:hover,
.control-action-buttons ul li a:hover, #blockcart-modal .cart-content .cart-content-btn .btn:hover{
    border-color: #55a9d4;
    color: #55a9d4;
}
.product-actions .add-to-cart:hover, .cart-button.button.ajax_add_to_cart_button.add-to-cart span:hover{
    border-color: #55a9d4;
    color: #55a9d4;
}
.owl-controls .owl-nav > div:hover i{
    color: #fff;
}
#dor-top-menu .parent .menu-label-new, #blockcart-modal .cart-content .cart-content-btn .btn.btn-primary:hover {
    color: #fff !important;
}
.dor-breadcrumb ul li > a:hover, .cart-content > p, .cart-title .h2 span span,
.block_newsletter p span, #cart-subtotal-products > span.label.js-subtotal,
.cart-summary-products a[data-toggle="collapse"], .carrier-price{
    color: #55a9d4;
}

#sdssearch_block_top #searchbox .form-control::-webkit-input-placeholder{
    color: #55a9d4 !important;
}
#sdssearch_block_top #searchbox .form-control::-moz-placeholder{
    color: #55a9d4 !important;
}
.dorStyleBlog a:hover, .dorStyleBlog a:hover h4,
.displaySmartBlogLeft > div a:hover, .displaySmartBlogRight > div a:hover,
#mywishlist header h3 span{
    color: #55a9d4 !important;
}
#tags_blog_block_left .block_content > a:hover{color: #fff !important;}
.note-info-detail-blog::after{border-left-color: #55a9d4 !important;}
#module-dorblockwishlist-dorwishlist .product-miniature:hover .btn-remove-wishlist span{
    border-color: #55a9d4;
    color: #55a9d4;
}
.page-my-account #content .links a:hover span.link-item i,
.page-my-account #content .links a:hover span.link-item{
    color: #55a9d4;border-color: #55a9d4;
}
.page-my-account footer.page-footer .text-xs-center > a{border-color: #55a9d4;}
footer.page-footer .account-link:last-child{
    background: #55a9d4 !important;border-color: #55a9d4;
}


.box-html-inner h2,
.dor-about-icon .icons,
.title-header-tab p span,
#testimonials-wrapper > h3 > span,
.slider-content.current .dor-slider-caption,
.subscribe-me .login-wrap > p > span{
    color: #55a9d4 !important;
}
.title-header-tab p span::before,
.title-header-tab p span::after,
#main-newsletter-footer .btn.btn-primary,
.productscategory_h2 > span::after,
.data-item-blog-v3 .times-blog-date{
    background-color: #55a9d4;
}
#dor-blog-home-style4 .owl-controls .owl-dots .owl-dot:hover span, #dor-blog-home-style4 .owl-controls .owl-dots .owl-dot.active span,
.cart-button.button.ajax_add_to_cart_button.add-to-cart,
.dor-load-more-tab span{border-color: #55a9d4;background-color: #55a9d4;}
.dor-load-more-tab span:hover{color: #55a9d4 !important;}
.slider-content.current .slider-read-more a:first-child span {
    border-color: #55a9d4;
    color: #55a9d4;
}
.subscribe .alt.fancy-button,
#subcategories .owl-controls .owl-dots .owl-dot:hover span, #subcategories .owl-controls .owl-dots .owl-dot.active span{background-color: #55a9d4 !important;}
.popup-cls.close::before{border-color: rgba(0, 0, 0, 0) #55a9d4;}
#subcategories li a h3:hover{color: #55a9d4 !important;}
.dor-block-selection .dor-setting-lists, .dor-megamenu .navbar-nav > li > .dropdown-menu{
    border-top-color: #55a9d4 !important;
}
#dor-smartblog-lists .data-item-blog-v3 .blog-content .readmore:hover{border-color: #55a9d4; }
.blog-post-content-area .blog-info a, .blog-post-content-area .blog-info .author-name > a,
#contact-form-v1 .list-contact-info a{color: #55a9d4;}
.dor-page-loading #loader::before,
.dor-page-loading #loader::after,
.dor-page-loading #loader{
    border-color: #55a9d4 transparent transparent;
}


.fancy-btn,
.countdown-daily .item-time,
#dor-topbar03 > .dor-topbar-inner, #dor-topbar02 > .dor-topbar-inner{background-color: #55a9d4;}
.dor-service-box-item-data i{color: #55a9d4;}
#dor-header03 .user-info .toogle_content, #dor-header02 .user-info .toogle_content{border-top-color: #55a9d4;}