.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-left ul li a,
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-left ul li a span{
    transition: all 0.4s ease 0s;
}

.menu-label-hot, .menu-label-new, .menu-label-featured {
    background: #da3f35 none repeat scroll 0 0;
    color: #fff;
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
    padding: 2px 4px;
    position: absolute;
    right: calc(50% - 16px);
    text-transform: uppercase;
    top: 6px;
}
.menu-label-hot::after, .menu-label-new::after, .menu-label-featured::after {
    background: #DA3F35 none repeat scroll 0 0;
    bottom: -3px;
    content: "";
    height: 6px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    width: 6px;
}
.dor-megamenu .panel-group{margin-bottom: 0px;}
.dropdown-menu.level1.megamenu-content > li::before {
    display: none !important;
}
#dor-top-menu{padding:0px;}
.dor-megamenu {
  height: 50px;
  clear:both;
}
.dor-megamenu .navbar {
    border: 0;
    margin: 0;
    padding: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    z-index: auto;
}
.dor-megamenu .navbar-nav {
    float: none;
}
.rtl .dor-megamenu .navbar-nav {
    float: right;
}
.dor-megamenu .navbar-nav > li {
    margin: 0 18px;
}
.widget-html.block.menu-category-image-top {
    padding-bottom: 25px;
}
#dor-top-menu .block{margin-bottom: 0px;}
.dor-megamenu #dor-top-menu .img.link-cate-custom, #dor-top-menu .widget-subcategories.block .widget-heading.title_block > a.img {
    font-size: 16px !important;
    font-weight: 400 !important;
}
.dor-megamenu .dropdown-menu li.parent > a .caret::before{top:3px;}
.widget-content .widget-heading.title_block::after {
    display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .dor-megamenu .navbar-nav > li {
        margin: 0 10px;
    }
}
@media (min-width: 991px) {
    .dor-megamenu .navbar-nav > li {
        float: left;
    }
    .rtl .dor-megamenu .navbar-nav > li {
        float: right;
    }
    .megamenu-content{background-position: top right !important;}
}
.dor-megamenu .navbar-nav > li.aligned-fullwidth {
    position: static;
}
.dor-megamenu .navbar-nav > li.aligned-fullwidth > .dropdown-menu {
    width: 100% !important;
    margin-bottom: 15px;
}
.dor-megamenu .navbar-nav > li.aligned-right > .dropdown-menu {
    right: 0;
    left: auto;
}
.dor-megamenu .navbar-nav > li.aligned-left > .dropdown-menu {
    left: 0;
}
.rtl .dor-megamenu .navbar-nav > li.aligned-left > .dropdown-menu {
    right: 0;
    left: auto;
}
.dor-megamenu .navbar-nav > li.aligned-center{position: static;}
.dor-megamenu .navbar-nav > li.aligned-center > .dropdown-menu {
    max-width: 100% !important;
    left: calc((100% - 1030px) / 2) !important;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.dor-megamenu .navbar-nav > li.parent > a {
    padding-right: 18px;
}
.rtl .dor-megamenu .navbar-nav > li.parent > a {
    padding-left: 18px;
    padding-right: inherit;
}
.dor-megamenu .navbar-nav > li > a {
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 13px;
    /*color: #474747;*/
    font-weight: 700;
    -webkit-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
}
.dor-megamenu .navbar-nav > li > a:hover, .dor-megamenu .navbar-nav > li > a:focus, .dor-megamenu .navbar-nav > li > a:active {
    color: #2b8cdb;background:none;
}

.dor-megamenu .navbar-nav > li.active > a{background:none;color:#2b8cdb;}
@media (min-width: 991px) {
    .dor-megamenu .navbar-nav > li > a:after {
        background-color: transparent;
    }
}
.dor-megamenu .navbar-nav > li > a .menu-icon-class [class^="icon-"] {
    margin-right: 5px;
}
.rtl .dor-megamenu .navbar-nav > li > a .menu-icon-class [class^="icon-"] {
    margin-left: 5px;
    margin-right: inherit;
}
.dor-megamenu .navbar-nav > li > a .menu-icon-class .menu-title {
    font-family: "Hind", Arial, sans-serif;
    font-weight: 700;
}
.dor-megamenu .navbar-nav > li > a .caret {
    border: 0;
    position: relative;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
.dor-megamenu .navbar-nav > li > a .caret:before {
    color: #777;
    font: 12px "FontAwesome";
    position: absolute;
    right: -10px;
    bottom: inherit;
    top: -8px;
    margin: auto;
    content: "";
    content: "\f107";
}
.rtl .dor-megamenu .navbar-nav > li > a .caret:before {
    left: -10px;
    right: auto;
}
.dor-megamenu .navbar-nav > li.open, .dor-megamenu .navbar-nav > li:hover {
    background-color: transparent;
}

.dor-megamenu .dropdown-menu {
    top: 95%;
    height: auto;
    font-weight: 300;
    color: #9c9c9c;
    border: 0;
    min-width: 185px;
    padding: 25px 15px;
    background-color: white;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: .3s
}
@media (min-width: 991px) {
    .dor-megamenu .dropdown-menu {
        left: -9999px;
    }
}
.dor-megamenu .dropdown-menu li {
    line-height: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
}
.dor-megamenu .dropdown-menu li > a {
    color: #999999;
}
.dor-megamenu .dropdown-menu li > a .caret {
    border: 0;
    position: absolute;
    right: 0px;
    bottom: inherit;
/*  top: 50%;*/
    margin: auto;
    content: "";
}
.rtl .dor-megamenu .dropdown-menu li > a .caret {
    left: 0px;
    right: auto;
}
.dor-megamenu .dropdown-menu li > a .caret:before {
    content: "\f105";
    font: 12px "FontAwesome";
    position: absolute;
    right: 15px;
    top: -8px;
}
.rtl .dor-megamenu .dropdown-menu li > a .caret:before {
    left: 15px;
    right: auto;
}
.dor-megamenu .dropdown-menu li > a:hover {
    color: #2b8cdb;background:none;
}
.dor-megamenu .dropdown:hover > .dropdown-menu {
    left: 0px;
}
@media (min-width: 991px) {
    .dor-megamenu .dropdown:hover > .dropdown-menu {
        display: block;
    }
}
.dor-megamenu .dropdown:hover > a {
    color: #2b8cdb;
}
.dor-megamenu .dropdown:hover > a .fa {
    color: #2b8cdb;
}
.dor-megamenu .dropdown-submenu {
    position: relative;
}
.dor-megamenu .dropdown-submenu .dropdown-menu {
    padding-top: 3px;
    padding-bottom: 3px;
}
@media (min-width: 991px) {
    .dor-megamenu .dropdown-submenu .dropdown-menu {
        top: 0;
        right: -110%;
        left: auto;
        position: absolute;
    }
    .rtl .dor-megamenu .dropdown-submenu .dropdown-menu {
        left: -110%;
        right: auto;
    }
}
@media (max-width: 991px) {
    .dor-megamenu .dropdown-submenu .dropdown-menu {
        display: block;
    }
    #dor-top-menu .col-sm-2, #dor-top-menu .col-sm-3, #dor-top-menu .col-sm-4, #dor-top-menu .col-sm-6, #dor-top-menu .col-sm-8 {
        padding: 0;
        width: 100%;
    }
    .dor-megamenu #dor-top-menu .dropdown-menu .dor-widget-shop-pages .nav-links a,
    .dor-megamenu #dor-top-menu .dropdown-menu li > a{border-color: #696969 !important;}
    #dor-top-menu.navbar-collapse ul.megamenu-content li .widget-content.dor-menu-open .widget-inner.block_content, #dor-top-menu.navbar-collapse li.dor-menu-open > ul, #dor-top-menu.navbar-collapse li.dor-menu-open ul.megamenu-content ul{
        padding-left: 0px !important;
    }
    .dor-megamenu #dor-top-menu .navbar-nav > li.aligned-fullwidth > .dropdown-menu li{padding-left: 15px !important;}
    #dor-top-menu.navbar-collapse ul{float: none !important;clear: left;}
    #header .dor-megamenu #dor-top-menu .dropdown-menu .dor-widget-shop-pages .nav-links a{border:none !important;}
    #dor-top-menu.navbar-collapse li.dor-menu-open > ul.level1.megamenu-content li:first-child > div.row .dor-menu-features-col .widget-inner.block_content,
    #dor-top-menu.navbar-collapse li.dor-menu-open > ul.level1.megamenu-content li:first-child > div.row .widget-inner.block_content.finished-sub{
        display: block;
    }
    .widget-inner.block_content img{height: auto;}
    .widget-html.block.dor-menu-ads {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .dor-menu-featured-product .widget-inner.block_content.finished-sub {
        padding-left: 10px;
    }
    .dor-menu-featured-product .widget-heading.title_block::before{display: none;}
    #dor-top-menu.navbar-collapse li.parent > .dropdown-menu.level1 > li {
        padding-left: 10px !important;
    }
}
.dor-megamenu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    top: 0;
}
.dor-megamenu .mega-group > .dropdown-toggle {
    border: 0;
    display: block;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Lato";
    color: white;
}
.dor-megamenu .mega-group > .dropdown-toggle .fa {
    color: white;
}
.dor-megamenu .widget-title {
    color: black;
}

/*** widgets using inside megamenu ***/
.widget-content .widget-heading {
    font-size: 14px;
    text-transform: uppercase;
    color: #111;
    font-weight: 700;
    padding-bottom: 15px;
}
.widget-content .w-product .product-block .product-meta {
    padding: 0 15px 15px;
}
.widget-content ul.nav-links li {
    font-size: 14px;
    position: relative;
    padding-left: 0px;
    overflow: hidden;
}
.rtl .widget-content ul.nav-links li {
    padding-right: 20px;
    padding-left: inherit;
}
.dor-megamenu .navbar-nav > li > .dropdown-menu .widget-content ul.nav-links li:before, 
.dor-megamenu .navbar-nav > li > .dropdown-menu li .widget-inner.block_content li:before,
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-left ul li:before,
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-right ul li:before {
    font-family: "FontAwesome";
    content: "\f178";
    font-size: 10px;
    position: absolute;
    left: -2px;
    top: 9px;
    display: none;
}
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-left ul li:before,
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-right ul li:before{
    top: 3px;
}
.dor-megamenu .navbar-nav > li > .dropdown-menu .widget-content ul.nav-links li:before{top: 9px;}
.rtl .widget-content ul.nav-links li:before {
    right: -2px;
    left: auto;
}
.widget-content ul.nav-links li:hover:before {
    color: #2b8cdb;
}
.widget-content .manu-logo a {
    overflow: hidden;
    padding: 0 10px;
    display: inline-block;
}

.widget-content ul.nav-links li:hover:before, 
.dor-megamenu .navbar-nav > li > .dropdown-menu li .widget-inner.block_content li:hover:before,
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-left ul li:hover:before,
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-right ul li:hover:before{
    display: inline-block;
}
.widget-content ul.nav-links li:hover > a, 
.dor-megamenu .navbar-nav > li > .dropdown-menu li .widget-inner.block_content li:hover > a,
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-left ul li:hover > a,
.dor-megamenu .navbar-nav > li.parent.dropdown.aligned-right ul li:hover > a{
    padding-left: 15px;
}


.dor-megamenu .dropdown-menu li.active > a{color:#2b8cdb;background:none;}
.widget-heading.active a {
    color: #2b8cdb;
}

/**********/

.animation-slideUp {
    -webkit-animation-name: slideUp;
    -o-animation-name: slideUp;
    -moz-animation-name: slideUp;
    animation-name: slideUp;
    animation-duration: .5s
}

.animation-slideDown {
    -webkit-animation-name: slideDown;
    -o-animation-name: slideDown;
    -moz-animation-name: slideDown;
    animation-name: slideDown;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s
}
.animation-fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: .3s
}
.animation-zoomIn {
    -webkit-animation-name: zoomIn;
    -o-animation-name: zoomIn;
    -moz-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s
    animation-duration: .5s
}
.animation-pivotTopLeft {
    -webkit-animation-name: pivotTopLeft;
    -o-animation-name: pivotTopLeft;
    -moz-animation-name: pivotTopLeft;
    animation-name: pivotTopLeft;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s
    animation-duration: .5s
}
.animation-recoil {
    -webkit-animation-name: recoil;
    -o-animation-name: recoil;
    -moz-animation-name: recoil;
    animation-name: recoil;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s
}
.animation-slideLeft {
    -webkit-animation-name: slideLeft;
    -o-animation-name: slideLeft;
    -moz-animation-name: slideLeft;
    animation-name: slideLeft;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
    -o-animation-duration: .3s
    animation-duration: .3s
}
.animation-slideRight {
    -webkit-animation-name: slideRight;
    -o-animation-name: slideRight;
    -moz-animation-name: slideRight;
    animation-name: slideRight;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s
}
.animation-hingeLeft {
    -webkit-animation-name: hingeLeft;
    -o-animation-name: hingeLeft;
    -moz-animation-name: hingeLeft;
    animation-name: hingeLeft;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s
    animation-duration: .5s
}
.animation-hingeTop {
    -webkit-animation-name: hingeTop;
    -moz-animation-name: hingeTop;
    -o-animation-name: hingeTop;
    animation-name: hingeTop;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}
/****hingeTop******/
@-webkit-keyframes hingeTop {
    0% {
        -webkit-transform: rotateX(-85deg);
        transform: rotateX(-85deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: .3
    }
    40% {
        -webkit-transform: rotateX(25deg);
        transform: rotateX(25deg);
        opacity: .8
    }
    60% {
        -webkit-transform: rotateX(-25deg);
        transform: rotateX(-25deg);
        opacity: .9
    }
    80% {
        -webkit-transform: rotateX(10deg);
        transform: rotateX(10deg);
        opacity: 1
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
}

@-moz-keyframes hingeTop {
    0% {
        -moz-transform: rotateX(-85deg);
        transform: rotateX(-85deg);
        -moz-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: .3
    }
    40% {
        -moz-transform: rotateX(25deg);
        transform: rotateX(25deg);
        opacity: .8
    }
    60% {
        -moz-transform: rotateX(-25deg);
        transform: rotateX(-25deg);
        opacity: .9
    }
    80% {
        -moz-transform: rotateX(10deg);
        transform: rotateX(10deg);
        opacity: 1
    }
    100% {
        -moz-transform: rotateX(0);
        transform: rotateX(0);
        -moz-transform-origin: 0 0;
        transform-origin: 0 0
    }
}

@-o-keyframes hingeTop {
    0% {
        transform: rotateX(-85deg);
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: .3
    }
    40% {
        transform: rotateX(25deg);
        opacity: .8
    }
    60% {
        transform: rotateX(-25deg);
        opacity: .9
    }
    80% {
        transform: rotateX(10deg);
        opacity: 1
    }
    100% {
        transform: rotateX(0);
        -o-transform-origin: 0 0;
        transform-origin: 0 0
    }
}

@keyframes hingeTop {
    0% {
        -webkit-transform: rotateX(-85deg);
        -moz-transform: rotateX(-85deg);
        transform: rotateX(-85deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: .3
    }
    40% {
        -webkit-transform: rotateX(25deg);
        -moz-transform: rotateX(25deg);
        transform: rotateX(25deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: .8
    }
    60% {
        -webkit-transform: rotateX(-25deg);
        -moz-transform: rotateX(-25deg);
        transform: rotateX(-25deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: .9
    }
    80% {
        -webkit-transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        transform: rotateX(10deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
    100% {
        -webkit-transform: rotateX(0);
        -moz-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0
    }
}
/****hingeLeft******/
@-webkit-keyframes hingeLeft {
    0% {
        -webkit-transform: rotateY(-85deg);
        transform: rotateY(-85deg);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        opacity: .3
    }
    40% {
        -webkit-transform: rotateY(25deg);
        transform: rotateY(25deg);
        opacity: .8
    }
    60% {
        -webkit-transform: rotateY(-25deg);
        transform: rotateY(-25deg);
        opacity: .9
    }
    80% {
        -webkit-transform: rotateY(10deg);
        transform: rotateY(10deg);
        opacity: 1
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%
    }
}

@-moz-keyframes hingeLeft {
    0% {
        -moz-transform: rotateY(-85deg);
        transform: rotateY(-85deg);
        -moz-transform-origin: 0 100%;
        transform-origin: 0 100%;
        opacity: .3
    }
    40% {
        -moz-transform: rotateY(25deg);
        transform: rotateY(25deg);
        opacity: .8
    }
    60% {
        -moz-transform: rotateY(-25deg);
        transform: rotateY(-25deg);
        opacity: .9
    }
    80% {
        -moz-transform: rotateY(10deg);
        transform: rotateY(10deg);
        opacity: 1
    }
    100% {
        -moz-transform: rotateY(0);
        transform: rotateY(0);
        -moz-transform-origin: 0 100%;
        transform-origin: 0 100%
    }
}

@-o-keyframes hingeLeft {
    0% {
        transform: rotateY(-85deg);
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
        opacity: .3
    }
    40% {
        transform: rotateY(25deg);
        opacity: .8
    }
    60% {
        transform: rotateY(-25deg);
        opacity: .9
    }
    80% {
        transform: rotateY(10deg);
        opacity: 1
    }
    100% {
        transform: rotateY(0);
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%
    }
}

@keyframes hingeLeft {
    0% {
        -webkit-transform: rotateY(-85deg);
        -moz-transform: rotateY(-85deg);
        transform: rotateY(-85deg);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
        opacity: .3
    }
    40% {
        -webkit-transform: rotateY(25deg);
        -moz-transform: rotateY(25deg);
        transform: rotateY(25deg);
        opacity: .8
    }
    60% {
        -webkit-transform: rotateY(-25deg);
        -moz-transform: rotateY(-25deg);
        transform: rotateY(-25deg);
        opacity: .9
    }
    80% {
        -webkit-transform: rotateY(10deg);
        -moz-transform: rotateY(10deg);
        transform: rotateY(10deg);
        opacity: 1
    }
    100% {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%
    }
}
/****slideRight******/
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0);
        opacity: 0
    }
    25% {
        -webkit-transform: translate3d(-8%, 0, 0);
        transform: translate3d(-8%, 0, 0);
        opacity: .25
    }
    50% {
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
        opacity: .5
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes slideRight {
    0% {
        -moz-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0);
        opacity: 0
    }
    25% {
        -moz-transform: translate3d(-8%, 0, 0);
        transform: translate3d(-8%, 0, 0);
        opacity: .25
    }
    50% {
        -moz-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
        opacity: .5
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-o-keyframes slideRight {
    0% {
        transform: translate3d(-10%, 0, 0);
        opacity: 0
    }
    25% {
        transform: translate3d(-8%, 0, 0);
        opacity: .25
    }
    50% {
        transform: translate3d(-5%, 0, 0);
        opacity: .5
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes slideRight {
    0% {
        -webkit-transform: translate3d(-10%, 0, 0);
        -moz-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0);
        opacity: 0
    }
    25% {
        -webkit-transform: translate3d(-8%, 0, 0);
        -moz-transform: translate3d(-8%, 0, 0);
        transform: translate3d(-8%, 0, 0);
        opacity: .25
    }
    50% {
        -webkit-transform: translate3d(-5%, 0, 0);
        -moz-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
        opacity: .5
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}
/****slideLeft******/
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0);
        opacity: 0
    }
    25% {
        -webkit-transform: translate3d(8%, 0, 0);
        transform: translate3d(8%, 0, 0);
        opacity: .25
    }
    50% {
        -webkit-transform: translate3d(5%, 0, 0);
        transform: translate3d(5%, 0, 0);
        opacity: .5
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes slideLeft {
    0% {
        -moz-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0);
        opacity: 0
    }
    25% {
        -moz-transform: translate3d(8%, 0, 0);
        transform: translate3d(8%, 0, 0);
        opacity: .25
    }
    50% {
        -moz-transform: translate3d(5%, 0, 0);
        transform: translate3d(5%, 0, 0);
        opacity: .5
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-o-keyframes slideLeft {
    0% {
        transform: translate3d(10%, 0, 0);
        opacity: 0
    }
    25% {
        transform: translate3d(8%, 0, 0);
        opacity: .25
    }
    50% {
        transform: translate3d(5%, 0, 0);
        opacity: .5
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes slideLeft {
    0% {
        -webkit-transform: translate3d(10%, 0, 0);
        -moz-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0);
        opacity: 0
    }
    25% {
        -webkit-transform: translate3d(8%, 0, 0);
        -moz-transform: translate3d(8%, 0, 0);
        transform: translate3d(8%, 0, 0);
        opacity: .25
    }
    50% {
        -webkit-transform: translate3d(5%, 0, 0);
        -moz-transform: translate3d(5%, 0, 0);
        transform: translate3d(5%, 0, 0);
        opacity: .5
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}
/****recoil******/
@-webkit-keyframes recoil {
    0% {
        -webkit-transform: none;
        transform: none;
        opacity: .2
    }
    15% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
        opacity: .5
    }
    75% {
        -webkit-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
        transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
        opacity: .75
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-moz-keyframes recoil {
    0% {
        -moz-transform: none;
        transform: none;
        opacity: .2
    }
    15% {
        -moz-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
        opacity: .5
    }
    75% {
        -moz-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
        transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
        opacity: .75
    }
    100% {
        -moz-transform: none;
        transform: none;
        opacity: 1
    }
}

@-o-keyframes recoil {
    0% {
        -o-transform: none;
        transform: none;
        opacity: .2
    }
    15% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
        opacity: .5
    }
    75% {
        transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
        opacity: .75
    }
    100% {
        -o-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes recoil {
    0% {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        opacity: .2
    }
    15% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
        -moz-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
        opacity: .5
    }
    75% {
        -webkit-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
        -moz-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
        transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
        opacity: .75
    }
    100% {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        opacity: 1
    }
}
/****pivotTopLeft******/
@-webkit-keyframes pivotTopLeft {
    0% {
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-moz-keyframes pivotTopLeft {
    0% {
        -moz-transform-origin: left top;
        transform-origin: left top;
        -moz-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
        opacity: 0
    }
    100% {
        -moz-transform-origin: left top;
        transform-origin: left top;
        -moz-transform: none;
        transform: none;
        opacity: 1
    }
}

@-o-keyframes pivotTopLeft {
    0% {
        -o-transform-origin: left top;
        transform-origin: left top;
        transform: rotate3d(0, 0, 1, -5deg);
        opacity: 0
    }
    100% {
        -o-transform-origin: left top;
        transform-origin: left top;
        -o-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes pivotTopLeft {
    0% {
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        -moz-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        opacity: 1
    }
}
/****zoomIn******/
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: .2
    }
    30% {
        opacity: .4
    }
    60% {
        opacity: .7
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1
    }
}

@-moz-keyframes zoomIn {
    0% {
        -moz-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: .2
    }
    30% {
        opacity: .4
    }
    60% {
        opacity: .7
    }
    100% {
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1
    }
}

@-o-keyframes zoomIn {
    0% {
        transform: scale3d(.3, .3, .3);
        opacity: .2
    }
    30% {
        opacity: .4
    }
    60% {
        opacity: .7
    }
    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale3d(.3, .3, .3);
        -moz-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        opacity: .2
    }
    30% {
        opacity: .4
    }
    60% {
        opacity: .7
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1
    }
}
/****SlideUp*****/
@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translate3d(0, 25%, 0);
        transform: translate3d(0, 25%, 0);
        opacity: .25
    }
    90% {
        -webkit-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
        opacity: .75
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translate3d(0, 25%, 0);
        transform: translate3d(0, 25%, 0);
        opacity: .25
    }
    90% {
        -moz-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
        opacity: .75
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-o-keyframes slideUp {
    0% {
        transform: translate3d(0, 25%, 0);
        opacity: .25
    }
    90% {
        transform: translate3d(0, -5%, 0);
        opacity: .75
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes slideUp {
    0% {
        -webkit-transform: translate3d(0, 25%, 0);
        -moz-transform: translate3d(0, 25%, 0);
        transform: translate3d(0, 25%, 0);
        opacity: .25
    }
    90% {
        -webkit-transform: translate3d(0, -5%, 0);
        -moz-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
        opacity: .75
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}
/***********SlideDown***********/
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
        opacity: .25
    }
    50% {
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        opacity: .5
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
        opacity: .25
    }
    50% {
        -moz-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        opacity: .5
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-o-keyframes slideDown {
    0% {
        transform: translate3d(0, -10%, 0);
        opacity: .25
    }
    50% {
        transform: translate3d(0, 5%, 0);
        opacity: .5
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translate3d(0, -10%, 0);
        -moz-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
        opacity: .25
    }
    50% {
        -webkit-transform: translate3d(0, 5%, 0);
        -moz-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        opacity: .5
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

/****FadeIn***/
@-o-keyframes fadeIn {
    0% {
        opacity: .2
    }
    40% {
        opacity: .4
    }
    60% {
        opacity: .6
    }
    80% {
        opacity: .8
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: .2
    }
    40% {
        opacity: .4
    }
    60% {
        opacity: .6
    }
    80% {
        opacity: .8
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: .2
    }
    40% {
        opacity: .4
    }
    60% {
        opacity: .6
    }
    80% {
        opacity: .8
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: .2
    }
    40% {
        opacity: .4
    }
    60% {
        opacity: .6
    }
    80% {
        opacity: .8
    }
    100% {
        opacity: 1
    }
}

@media(max-width: 991px){
    /*#dor-top-menu.navbar-collapse li ul .widget-inner.block_content{
        display: block !important;
    }*/
    .widget-subcategories.block .widget-heading.title_block {
        margin-bottom: 1px !important;
        padding-bottom: 15px !important;
    }
    .widget-content .widget-heading.title_block::after{display: none;}
    #dor-top-menu.navbar-collapse li ul .widget-inner.block_content a{font-size: 13px;}
    .dor-megamenu .dropdown-menu.megamenu-content > li li {
        padding-bottom: 3px !important;
    }
    .dor-megamenu .dropdown-menu .widget-inner.block_content {
        padding-top: 0 !important;
    }
    .dor-megamenu #dor-top-menu ul.navbar-nav li a:hover span.menu-title{
        color: #67bd45 !important;
    }
    .dor-megamenu #dor-top-menu .img.link-cate-custom, #dor-top-menu .widget-subcategories.block .widget-heading.title_block > a.img{
        font-size: 14px !important;
    }
    #dor-top-menu.navbar-collapse li.dor-menu-open ul .widget-content.menu-none-title .widget-inner.block_content{
        display: block;
    }
}