<div class="block products_block dataCountdow-slider col-lg-9 col-sm-9 col-xs-12 clearfix">
	<div class="block_content">
		<div class="dailydeal-carousel">
			<h3><span>{l s="Deal Of The Week"}</span></h3>
			{include file="{$product_path}"}
		</div>
	</div>
</div>
