@import url(https://fonts.googleapis.com/css?family=Lato:200,300,400,500,700);
@font-face {
    font-family: 'KrinkesDecorPERSONAL';
    src: url(../fonts/Krinkes/KrinkesDecorPERSONAL.ttf);
}
@font-face {
    font-family: 'KrinkesRegularPERSONAL';
    src: url(../fonts/Krinkes/KrinkesRegularPERSONAL.ttf);
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    background: #ffffff;
    color: #979797; 
    height: 100%;
    font-size: 15px;
    line-height: 24px;   
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
ul.product_list.list > li .button.ajax_add_to_cart_button span {
    font-family: "Lato",sans-serif;
}