.item-gallery-media .img-wrap::before,
.data-gallery .gallery-item-media::before,
.item-gallery-info, .grid .img-wrap.main-item-gallery::before,
.item-gallery-info-wrapper figure::before,
.item-gallery-media .description{
    transition: all 0.6s ease 0s;
}

.header-tab-gallery {
    border: medium none !important;
    margin: 0 auto !important;
    text-align: center;
}
.header-tab-gallery > li {
    display: inline-block !important;
    float: none !important;
    margin:0 auto 10px !important;
    padding: 0 5px !important;
}
.header-tab-gallery > li a{margin:0 auto;}
.header-tab-gallery > li a {
    border: 1px solid #f4f1e3;
    border-radius: 35px;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 300;
    padding: 12px 30px;
    text-transform: none;
}
.header-tab-gallery > li.active a, .header-tab-gallery > li a:hover{
	border-color: #8eb35a !important;
	background: #fff !important;
	color: #101010 !important;
}
.data-gallery .img-wrap img{width: 100%;position: relative;}
.gallery-content-detail.grid > .row {
    margin-left: 0;
    margin-right: 0;
}
.item-gallery-media > img {
    max-width: 100%;
    width: auto;
}
#list-gallery-show-items {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;
}
.item-gallery {
    padding-bottom: 15px;
    padding-top: 15px;
}
.item-gallery-media .description {
    color: #333;
    height: auto;
    left: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 45px);
    width: 100%;
    z-index: 99;
    font-family: "Playfair Display",serif;
    display: none;
}
.item-gallery-media{border:0px #fff solid;overflow: hidden;cursor: pointer;}
.data-gallery .img-wrap img{display: block;}
.gallery-item-media{position: relative;display: block;}
.data-gallery .gallery-item-media::before,
.grid .img-wrap.main-item-gallery::before {
    background: #333;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.main-item-gallery:hover .gallery-item-media::before,
.grid .img-wrap.main-item-gallery:hover::before{
	opacity: 0.5;
}
.item-gallery-media:hover{border:0px #8eb35a solid;z-index: 99;}
.item-gallery-media:hover .description {display: block;}
.desc-gallery-item > h3 {
    color: #333;
    font-family: "Playfair Display",serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.05em;
    position: relative;
    padding-bottom: 10px;
}
.desc-gallery-item > h3:before{
	content: "";
	height: 1px;
	background: #ddd;
	width: 50px;
	left: calc(50% - 25px);
	bottom: -5px;
	position: absolute;
}
.desc-gallery-item > span {
    color: #696969;
    font-size: 14px;
    font-style: italic;
}
.grid-group-col {
    padding-left: 0;
    padding-right: 0;
}
.dor-gallery-page {
    clear: both;
    text-align: center;
    padding-top: 35px;
}
.dor-gallery-page a.ipage {
    border: 1px solid #f8f7f7;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    font-family: "Playfair Display",serif;
    font-size: 20px;
    height: 40px;
    line-height: 34px;
    margin: 0 5px;
    text-decoration: none;
    width: 40px;
}
.dor-gallery-page a.ipage.active, .dor-gallery-page a.ipage:hover{
	background: #8eb35a;color: #fff;border:none;
}
.dorgallery-base-2 .dor-gallery-page a{
	display: inline-block;
    font-family: "Playfair Display",serif;
    color: #696969;
    font-style: italic;
}
.gallery-content-detail.grid{margin-left: -15px;margin-right: -15px;}
@media (max-width: 767px) and (min-width: 550px){
    .gallery-content-detail .item-gallery {
        float: left;
        width: 50%;
    }
}

#module-dorgallery-gallery #content.page-content {
    padding: 0;border:none;
}

.img-wrap.main-item-gallery {
    float: left;
    padding: 15px 15px;
    width: 33.3333%;
    position: relative;
}
.grid .img-wrap.main-item-gallery {
    width: 100%;
    position: relative;
    padding: 5px;
}
.pswp__caption__center{margin-top:20px !important;font-size: 16px !important;color: #fff !important;text-align: center !important;position: relative;}
.pswp__caption__center small{padding-top: 2px;display: block;}
.pswp__caption__center small::before,
.item-gallery-info-wrapper figure::before  {
    background: #ccc none repeat scroll 0 0;
    bottom: 34px;
    content: "";
    height: 1px;
    left: calc(50% - 15px);
    position: absolute;
    width: 30px;
}
.item-gallery-info-wrapper figure::before{bottom: 7px;}
.item-gallery-info-wrapper figure{position: relative;}

.item-gallery-info {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    display: none;
}
.item-gallery-info-inner {
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.item-gallery-info-wrapper {
    display: table-cell;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.pswp__caption__center .item-gallery-info-wrapper em{display: none;}
.img-wrap.main-item-gallery:hover .item-gallery-info{display: block;z-index: 99}
.item-gallery-info-wrapper *{color: #fff;}
.item-gallery-info-wrapper figure {
    font-size: 16px;
    padding-bottom: 15px;
}
.item-gallery-info-wrapper em{color: #ccc;}


.gallery-hidden{
    opacity: 0;
    visibility: hidden;
    height: 0px;
}

.data-gallery {
    display: table;
    overflow: hidden;
    width: 100%;
}
 
.portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    display:none;
    overflow:hidden;
}

.load-more-gallery {
    display: block;
    margin-top: 45px;
    position: relative;
    text-align: center;
    width: 100%;
}
.load-more-gallery a{display: inline-block;text-decoration: none;}
.load-more-gallery a span {
    border: 1px solid #f1f1f3;
    border-radius: 35px;
    padding: 9px 30px;
    color: #101010;
}
.load-more-gallery a:hover span{
    border-color: #67bd45;color: #67bd45;
}

@media(max-width: 767px){
    .img-wrap.main-item-gallery{width: 50%;}
}

@media(max-width: 543px){
    #module-dorgallery-gallery #wrapper > .container > .row {
        margin-left: 0;
        margin-right: 0;
    }
    #module-dorgallery-gallery #wrapper #content-wrapper {
        padding-left: 0px;padding-right: 0px;
    }
    .img-wrap.main-item-gallery {
        padding-left: 10px;
        padding-right: 10px;
    }
    .portfoliolist{padding-left: 5px;padding-right: 5px;}
}
@media(max-width: 370px){
    .img-wrap.main-item-gallery{width: 100%;}
}
