.dor-wrap {
	background: #fff;
	width: 225px;
	padding: 0 15px 20px 15px;
	position: fixed;
	top:30px;
	left: -228px;
	border:2px solid #999;
	z-index: 99900;
	text-align: left;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	border-radius: 0px 10px 10px 0px;
	border-left: 0px;
}
.cp-color-picker{z-index: 99999;}
.dor-wrap .dor-title {
    border: 1px solid #ddd;
    color: #000;
    font-family: arial;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    text-transform: none;
}
.tool-class-opt .tool-opt-data{display: none;}
.tool-class-opt.open .tool-opt-data{display: block;}
.dor-wrap .control {
    /*background: url(../images/theme-option2.png) no-repeat 0 0 scroll;*/
    float:right;
}
.dor-wrap .control.active {
	height: 40px;
	border-radius: 0 3px 3px 0;
	margin-right: -55px;
	margin-top: 50px;
	width: 40px;
	border-left: 0;
	background:#e60000
}
.dor-wrap .control.active a{
	background:#e60000
}
.dor-wrap .control.inactive {
    width: 40px;
    height: 40px;
    margin-right: -55px;
	margin-top: 150px;
	border: 0;
}

.dor-wrap .inactive a ,
.dor-wrap .control a {
	background: none repeat scroll 0 0 #333;
    border-radius: 0 5px 5px 0;
    color: #fff;
    float: right;
    font-size: 26px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    width: 100%;
}
.dor-wrap .control.active a{
	background:#e60000
}
.dor-wrap .control a:hover {
    cursor: pointer;
	text-decoration: none;
	outline: none;
}
.dor-wrap .dor-option {
	width: 100%;
}

.dor-wrap .cl-wrapper {
    float: left;
    width: 100%;
}
.dor-wrap .cl-container {
    float: left;
    width: 100%;
}
.dor-wrap .cl-table {
    float: left;
    width: 100%;
	margin-bottom:0px;
}
.dor-wrap .cl-tr .cl-td-l{
	margin-bottom:5px;
	width: 100%;
}
.dor-wrap .cl-tr {
    float: left;
    width: 100%;
    clear: both;
	/*background: url("../images/line-hor.png") repeat-x scroll 0 100% transparent;*/
}
.dor-wrap .cl-tr.cl-tr-style-label{
	margin-bottom:10px;
	font-weight: bold;
}

.dor-wrap .cl-tr.box-layout{
}
.cl-row-body {}
.cl-row-header {}
.cl-row-main {}
.cl-row-footer {}
.cl-tr.last {
	background: none;
}
.cl-td-l {
   
}
.cl-tr-background .cl-td-l {
	
}
.cl-row-body .cl-td-l {
	padding-top: 60px;
}
.cl-td-r {
    float: right;
	/*background: url("../images/line-vert.png") repeat-y scroll 0 0 transparent;*/
    width: 38px;
	padding-bottom: 3px;
}
.cl-tr-link .cl-td-r, .cl-tr-background .cl-td-r, .cl-tr-main .cl-td-r {
	float: right;
    margin-top:-20px;
}
.dor-wrap .cl-tr-font { padding: 10px 0 8px; }
.cl-td-l-font {
	width: 40px;
}
.cl-td-r-font {
	float: left;
	width: auto;
}
.cl-tr-background .cl-td-r {
	width: 38px;
}
.cl-tr.first .cl-td-r {
	padding-top: 8px;
}
.cl-tr.last .cl-td-r {
	padding-bottom: 8px;
}
.cl-td-r .cl-label {
    float: left;
    width: 90px;
    text-align: right;
	padding-right: 8px;
}
.cl-td-r .cl-tool {
    float: left;
    height: 22px;
    width: 22px;
    background: url("../images/color_select.png") no-repeat scroll 0 0 transparent;
}
.colorSelector {
	cursor: pointer;
	position: relative;
}
.colorSelector div {
	background: url("../images/color_select.png") no-repeat scroll 0 0 transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 22px;
	height: 22px;
}
.cl-pattern .cl-pattern {
    float: left;
    width: 104px;
}
.cl-pattern .cl-image {
    /*background-color: #454545;*/
    border: 1px solid #aaa;
    cursor: pointer;
    float: left;
    height: 22px;
    margin: 0 0 6px 6px;
    width: 22px;	
}
.cl-pattern .cl-image:hover {
	border-color: #000;
}
.cl-pattern .pattern1 {
	background-image: url("../images/pattern/pattern1.png");
}
.cl-pattern .pattern2 {
	background-image: url("../images/pattern/pattern2.png");
}
.cl-pattern .pattern3 {
	background-image: url("../images/pattern/pattern4.png");
}
.cl-pattern .pattern4 {
	background-image: url("../images/pattern/pattern4.png");
}
.cl-pattern .pattern5 {
	background-image: url("../images/pattern/pattern5.png");
}
.cl-pattern .pattern6 {
	background-image: url("../images/pattern/pattern6.png");
}

.cl-pattern .pattern7 {
	background-image: url("../images/pattern/pattern7.png");
}

.cl-pattern .pattern8 {
	background-image: url("../images/pattern/pattern8.png");
}
.cl-pattern .pattern9 {
	background-image: url("../images/pattern/pattern9.png");
}

.cl-pattern .pattern10 {
	background-image: url("../images/pattern/pattern10.png");
}

.cl-pattern .pattern11 {

	background-image: url("../images/pattern/pattern11.png");

}

.cl-pattern .pattern12 {

	background-image: url("../images/pattern/pattern12.png");

}

.cl-pattern .pattern13 {

	background-image: url("../images/pattern/pattern13.png");

}

.cl-pattern .pattern14 {

	background-image: url("../images/pattern/pattern14.png");

}
.cl-pattern .pattern15 {

	background-image: url("../images/pattern/pattern15.png");

}
.cl-pattern .pattern16 {

	background-image: url("../images/pattern/pattern16.png");

}

.cl-pattern .pattern17 {

	background-image: url("../images/pattern/pattern17.png");

}

.cl-pattern .pattern18 {

	background-image: url("../images/pattern/pattern18.png");

}

.cl-pattern .pattern19 {
	background-image: url("../images/pattern/pattern19.png");
}

.cl-pattern .pattern20 {
	background-image: url("../images/pattern/pattern20.png");
}

.cl-pattern .pattern21 {
	background-image: url("../images/pattern/pattern21.png");
}

.cl-pattern .pattern22 {

	background-image: url("../images/pattern/pattern22.png");

}

.cl-pattern .pattern23 {

	background-image: url("../images/pattern/pattern23.png");

}

.cl-pattern .pattern24 {

	background-image: url("../images/pattern/pattern24.png");

}

.cl-pattern .pattern25 {

	background-image: url("../images/pattern/pattern25.png");

}

.cl-pattern .pattern26 {

	background-image: url("../images/pattern/pattern26.png");

}

.cl-pattern .pattern27 {

	background-image: url("../images/pattern/pattern27.png");

}

.cl-pattern .pattern28 {

	background-image: url("../images/pattern/pattern28.png");

}

.cl-pattern .pattern29 {

	background-image: url("../images/pattern/pattern29.png");

}

.cl-pattern .pattern30 {

	background-image: url("../images/pattern/pattern30.png");

}

.cl-row-reset {
	text-align: center;
	height: 28px;
	padding: 10px 0;
}
.cl-row-reset .cl-reset {
    display: block;
    margin: 0 auto;
}
.cl-row-reset .cl-reset:hover {
	cursor: pointer;
}
.cl-td-bg, .cl-td-text, .cl-td-link {
    float: left;
	padding: 3px;
    width: 185px;
}

.cl-row-themeskin {}
.cl-row-themeskin .theme-title {
	font-size: 20px;
	padding: 0 10px 0;
	color: #444444 !important;
}
.cl-row-themeskin ul {
	float:left;
	padding: 0 0 15px 10px;
}
.cl-row-themeskin li {
	float: left;
	width: 20px;
	height: 20px;
	border: 2px solid #CCCCCC;
	margin: 10px 10px 0 0;
}
.cl-row-themeskin li:hover {
	border-color: #aaa;
}
.cl-row-themeskin li a {
	display: block;
	width: 10px;
	height: 10px;
	padding: 5px;
	text-indent: -9999px;
}
.cl-row-themeskin li a.cl-asparagus { background: #799042; }
.cl-row-themeskin li a.cl-blue { background: #036EB6; }
.cl-row-themeskin li a.cl-brick { background: #783937; }
.cl-row-themeskin li a.cl-cardinal { background: #d01242; }

.cl-row-themeskin li a.cl-darkcoral { background: #cd5b45; }
.cl-row-themeskin li a.cl-herbal { background: #54a925; }
.cl-row-themeskin li a.cl-indigo { background: #581797; }
.cl-row-themeskin li a.cl-khaki { background: #806b2a; }

.cl-row-themeskin li a.cl-magentadye { background: #ca1f7b; }
.cl-row-themeskin li a.cl-marengo { background: #384e5d; }
.cl-row-themeskin li a.cl-pumpkin { background: #ff7518; }
.cl-row-themeskin li a.cl-pear { background: #c6c700; }

.cl-row-themeskin li a.cl-prussianblue { background: #003348; }
.cl-row-themeskin li a.cl-red { background: #e43715; }
.cl-row-themeskin li a.cl-violetred { background: #ff52af; }
.cl-row-themeskin li a.cl-yellow { background: #fddd15; }

/* .dor-wrap .cl-tr-style { padding: 0 0 5px; } */
.dor-wrap .cl-tr-style .cl-td-l,
.dor-wrap .cl-tr-style .cl-td-r {  }
.dor-wrap .cl-tr-style .cl-td-l:hover,
.dor-wrap .cl-tr-style .cl-td-r:hover { border-color: #000; }
.dor-wrap .cl-tr-style .cl-td-l {
	overflow:hidden;
}
.dor-wrap .cl-tr-style .cl-td-layout {
    float: left;
    height: 30px;
    margin: 3px;
    padding: 0;
    width: 30px;
}
/* .dor-wrap .cl-tr-style .cl-td-layout2,
.dor-wrap .cl-tr-style .cl-td-layout4,
.dor-wrap .cl-tr-style .cl-td-layout6 { margin-left: 14px; } */
.dor-wrap .cl-tr-style .cl-td-l a,
.dor-wrap .cl-tr-style .cl-td-r a { color: #666; text-transform: capitalize; font-size: 15px; line-height: 30px; width: 100%; height: 100%; display: block; text-align: left;}
.dor-wrap .cl-tr-style .cl-td-l a:hover,
.dor-wrap .cl-tr-style .cl-td-r a:hover { text-decoration: none; }
.dor-wrap .cl-tr-style .cl-td-l-clothing { background: #E72526; }
.dor-wrap .cl-tr-style .cl-td-r-furniture { background: #e66f19; }
.dor-wrap .cl-tr-style .cl-td-l-hitech { background: #1E84C4; }
.dor-wrap .cl-tr-style .cl-td-r-watch { background: #5AA2AF; }

.dor-wrap .cl-tr-style .cl-td-l span {
	float: right;
	width: 100%;
	height: 30px;;
}

.dor-wrap .cl-tr-style .cl-td-layout1 span.cl1{background: #f09748;}
.dor-wrap .cl-tr-style .cl-td-layout1 span.cl2 {background: #f09748;}

.dor-wrap .cl-tr-style .cl-td-layout2 span.cl1{background: #49cc80;}
.dor-wrap .cl-tr-style .cl-td-layout2 span.cl2 {background: #49cc80;}

.dor-wrap .cl-tr-style .cl-td-layout3 span.cl1{background: #789bbc ;}
.dor-wrap .cl-tr-style .cl-td-layout3 span.cl2 {background: #789bbc ;}

.dor-wrap .cl-tr-style .cl-td-layout4 span.cl1{background: #be61e0 ;}
.dor-wrap .cl-tr-style .cl-td-layout4 span.cl2 {background: #be61e0 ;}

.dor-wrap .cl-tr-style .cl-td-layout5 span.cl1{background: #9e8673 ;}
.dor-wrap .cl-tr-style .cl-td-layout5 span.cl2 {background: #9e8673 ;}

.dor-wrap .cl-tr-style .cl-td-layout6 span.cl1{background: #e76e62 ;}
.dor-wrap .cl-tr-style .cl-td-layout6 span.cl2 {background: #e76e62 ;}

.dor-wrap .cl-tr-style .cl-td-layout7 span.cl1{background: #7aa3a6;}
.dor-wrap .cl-tr-style .cl-td-layout7 span.cl2 {background: #7aa3a6;}

.dor-wrap .cl-tr-style .cl-td-layout8 span.cl1{background: #55a9d4;}
.dor-wrap .cl-tr-style .cl-td-layout8 span.cl2 {background: #55a9d4;}

.dor-wrap .cl-tr-style .cl-td-layout9 span.cl1{background: #1696ef;}
.dor-wrap .cl-tr-style .cl-td-layout9 span.cl2 {background: #1696ef;}

.dor-wrap .cl-tr-style .cl-td-layout10 span.cl1{background: #efb916;}
.dor-wrap .cl-tr-style .cl-td-layout10 span.cl2 {background: #efb916;}

.dor-wrap .cl-tr-style .cl-td-layout11 span.cl1{background: #ef4416;}
.dor-wrap .cl-tr-style .cl-td-layout11 span.cl2 {background: #ef4416;}

.dor-wrap .cl-tr-style .cl-td-layout12 span.cl1{background: #77d0e4;}
.dor-wrap .cl-tr-style .cl-td-layout12 span.cl2 {background: #77d0e4;}

.dor-wrap .cl-tr-style .cl-td-layout13 span.cl1{background: #8eb35a;}
.dor-wrap .cl-tr-style .cl-td-layout13 span.cl2 {background: #8eb35a;}

.dor-wrap .cl-tr-style .cl-td-layout14 span.cl1{background: #f49ac1;}
.dor-wrap .cl-tr-style .cl-td-layout14 span.cl2 {background: #f49ac1;}

.cl-pattern .cl-image.active {
    border-color: red;
}


/****Tool****/
#dor-option-tool .cl-tr.cl-tr-style-label {
    border-bottom: 1px solid #909090;
    color: #333;
    padding: 5px;
}
#dor-option-tool .cl-tr.cl-tr-style-label > span {
    display: block;
    float: left;
}
#dor-option-tool .cl-tr.cl-tr-style-label > i {
    display: block;
    float: right;
    padding-top: 4px;
    cursor: pointer;
}
.tool-select-opt{width: 100%;}
.header-skin-tool, .footer-skin-tool{display: none;}
.cl-td-layout a.active{opacity: 0.3;}
/* ############################################################## */

#page.dorbox{
	width:1200px;
	margin:0 auto;
	padding:0 15px;
	background:#fff;
}
#page.dorbox .footer-container{
	margin:0 -15px;
}

.dor-option .selected{border:1px #000 solid;}
#page.boxed {
    box-shadow: 0 0 6px #777;
    margin: 0 auto;
    width: 1200px;
}
/* ########################################################### */
@media (min-width: 1024px) {
	#page.dorbox .nivo-caption .lab_description{
			top:4vw;
	}
}
@media (max-width: 1024px) {
	
	#page.dorbox{
		width:100%;
		padding:0;
	}
}

.dor-btn-tool{
	background:none;
	border:1px #ddd solid;
	padding:3px 15px;
}
.tool-class-opt.open {
    padding-bottom: 35px;
}