.media-content .fancybox-media > img {
    border-radius: 50%;
    display: inline-block !important;
    float: none;
    height: 85px;
    max-width: 100%;
    width: 85px !important;
}
.testimonials-slide li {
    text-align: center;
}
.testimonial-rate .star {
    display: inline-block !important;
    float: none;
}
.test-namepost {
    color: #101010;
    font-size: 14px;
    font-weight: 400;
    padding-right: 15px;
    text-transform: none;
}
.testimonial-rate {
    padding: 10px 0;
}
.test-companypost {
    color: #696969;
    font-size: 13px;
    padding-left: 15px;
}
.DorTestimonial {
    background: #fff none repeat scroll 0 0;
    padding: 0;
    position: relative;
}
.testimonials-title {
    color: #333;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 25px 0;
    text-transform: uppercase;
}
.des_testimonial {
    color: #696969;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%;
}


#testimonials-wrapper > h3 > span {
    font-weight: 300;color: #67bd45;
}
#testimonials-wrapper > h3 {
    text-align: center;
}
#testimonials-wrapper > h3 i {
    display: block;
    padding-bottom: 5px;
    padding-top: 12px;
    color: #67bd45;
}
#testimonials-client {
    border: 0px solid #ddd;
    padding: 35px 80px;
}
.DorTestimonial > .container > .row {
    margin: 0;
}

#testimonials-client .media-content {
    margin: 30px 0px;
}


/*****Button*****/
#testimonials-client .owl-carousel .owl-nav {
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
#testimonials-client .owl-carousel .owl-nav > div {
    height: 35px;
    line-height: 35px;
    width: 35px;
}
#testimonials-client .owl-carousel .owl-nav > div:hover i{color: #fff !important;}
#testimonials-client .owl-carousel.owl-loaded{position: relative;margin-left: 0px;margin-right: 0px;}
#testimonials-client .owl-carousel .owl-prev,
#testimonials-client .owl-carousel .owl-next {
    text-align: center;
    display: block;
    border: 1px solid #5d957b;
    color: #fff;
    font-size: 16px;
    border-radius: 100%;
    background: #fff;
    border-color: #ddd
}
#testimonials-client .owl-carousel .owl-prev > i{margin-left: -1px;color: #101010;font-size: 14px;}
#testimonials-client .owl-carousel .owl-next > i{margin-right: -1px;color: #101010;font-size: 14px;}
#testimonials-client .owl-carousel .owl-prev:hover,
#testimonials-client .owl-carousel .owl-next:hover {
    background-color: #101010;
    border: 0px solid #101010;
}

#testimonials-client .owl-carousel .owl-nav .owl-prev,
#testimonials-client .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
#testimonials-client .owl-carousel .owl-nav .owl-prev {
    left: 15px
}

#testimonials-client .owl-carousel .owl-nav .owl-next {
    right: 15px
}

#testimonials-client .owl-carousel .owl-nav .owl-prev,
#testimonials-client .owl-carousel .owl-nav .owl-next {
    top: calc((100% - 110px)/ 2);
    top: -moz-calc((100% - 110px)/ 2);
    top: -webkit-calc((100% - 110px)/ 2);
    top: -o-calc((100% - 110px)/ 2)
}

#testimonials-client .owl-carousel:hover .owl-nav {
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#testimonials-client .owl-carousel:hover .owl-nav .owl-prev {
    left: -60px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#testimonials-client .owl-carousel:hover .owl-nav .owl-next {
    right: -60px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
/*****End Button*****/