.item-blog-media {
    position: relative;
}
.item-blog-media::after, .item-blog-media::before {
    content: "";
    position: absolute;
}
.item-blog-media::after {
    border-right: 3px solid #ebebeb;
    border-top: 3px solid #ebebeb;
    height: 20px;
    left: 0;
    right: 20px;
    top: 0;
    display: none;
}
.item-blog-media::before {
    border: 3px solid #ebebeb;
    bottom: 20px;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
}
#dor-blog-home-style3 .item-blog-media::before,
#dor-blog-home-style4 .item-blog-media::before{display: none;}
#dor-blog-home-style4 .item-content-blog .entry-meta{margin-top:20px;}
#dor-blog-home-style4 .item-content-blog .entry-title a {
    font-size: 18px;
    font-weight: 300;
}
#dor-blog-home-style4 .item-content-blog .news-desc{font-size: 14px;}
#dor-blog-home-style4 .head-tab-lists.title-mod-news > span {
    color: #101010;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
}
@media(max-width: 1199px){
    #dor-blog-home-style4 .head-tab-lists.title-mod-news > span{font-size: 40px;}
}
#dor-blog-home-style4 .row-latest-news .head-tab-lists{text-align: center;margin-bottom: 0px;}
#dor-blog-home-style4 .owl-controls .owl-nav > div{
    top: 120px;
}
#dor-blog-home-style4 .owl-controls .owl-nav > div.owl-next{
    left: auto;
    right: -15px;
}
#dor-blog-home-style4 .owl-controls .owl-nav > div.owl-prev{
    right: auto;
    left: -15px;
}
#dor-blog-home-style4 .owl-controls .owl-dots{text-align: center;}
#dor-blog-home-style4 .owl-controls .owl-dots .owl-dot{
    display: inline-block;padding-left: 3px;padding-right: 3px;
}
#dor-blog-home-style4 .owl-controls .owl-dots .owl-dot span{
    width: 15px;
    height: 15px;
    border: 1px #ddd solid;
    border-radius: 50%;
    display: block;
}
#dor-blog-home-style4 .owl-controls .owl-dots .owl-dot:hover span,
#dor-blog-home-style4 .owl-controls .owl-dots .owl-dot.active span{
    background-color: #67bd45;
    border-color: #67bd45;
}
#dor-blog-home-style4 .owl-controls {
    padding-top: 25px;
}
.blog-line {
    display: inline-block;
    margin-right: 10px;
}
.item-content-blog .entry-title {
    color: #101010;
    font-weight: 400;
    text-transform: none;
}
.item-content-blog .entry-title a{color: #101010;}
.item-content-blog .entry-title * {
    font-size: 15px;
    font-weight: 400;
}
#dor-blog-home-style3 .item-content-blog .entry-title * {
    font-size: 18px;
    font-weight: 300;
}
.head-tab-lists.title-mod-news > span {
    color: #101010;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform: none;
}
.item-content-blog .entry-meta{font-size: 12px;color: #adadad;font-weight: 300;}
.item-content-blog .entry-meta a{font-size: 12px;color: #adadad;font-weight: 300;text-decoration: none;}
.item-content-blog .entry-meta i{font-size: 13px;color: #adadad;font-weight: 300;}
.item-content-blog .entry-meta * {
    font-weight: 300;
}
.col-item-blog:last-child {
    padding-left: 0px;
}
.item-content-blog .entry-meta {
    padding: 5px 0;
    position: relative;
}
.item-content-blog .entry-meta::before{
    content: "";
    position: absolute;
    background: #ededed;
    height: 1px;
    left: 0px;
    width: 100%;
    top: 0px;
}
.item-content-blog .entry-meta::after{
    content: "";
    position: absolute;
    background: #ededed;
    height: 1px;
    left: 0px;
    width: 100%;
    bottom: 0px;
}
.item-content-blog .read-more-link span{
    display: inline-block;
    border:1px #ededed solid;
    padding:3px 25px;
}
.item-content-blog .read-more-link span {
    border: 1px solid #ededed;
    border-radius: 30px;
    color: #515151;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    padding: 5px 23px;
    text-transform: none;
}
.item-content-blog .news-desc {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 20px;
}
.item-blog-data.row {
    margin: 0 auto;padding-top: 15px;
}
.item-blog-media > a {
    display: block;
    position: relative;
    z-index: 9;
}
.row.gst-post-list {
    margin-left: 0px;
    margin-right: 0px;
    position: relative !important;
}
#dor-blog-home-style2 .item-blog-data {
    float: none;
    position: relative;
    width: 100%;
    display: table;
}
#dor-blog-home-style2 .item-blog-data::after {
    background-color: #fff;
    bottom: 0;
    content: "";
    left: 25%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: block;
}
#dor-blog-home-style2 .item-blog-data .post-item-info {
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    z-index: 5;
}
#dor-blog-home-style2 .item-blog-data .post-item-info::before, #dor-blog-home-style2 .item-blog-data .post-item-info::after {
    content: "";
    display: table;
}
#dor-blog-home-style2 .item-blog-data .post-item-info::after {
    clear: both;
}

#dor-blog-home-style2 .item-content-blog-style2 .time {
    color: #c7c7c7;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
}
#dor-blog-home-style2 .item-content-blog-style2 .time span {
    font-size: 50px;color: #67bd45;
}
.item-content-blog-style2 .entry-title > a {
    color: #101010;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}
.item-content-blog-style2 .read-more-link{
    text-transform: uppercase;
}
.item-content-blog-style2 .read-more-link span {
    color: #101010;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    text-transform: none;
}
.item-content-blog-style2 .read-more-link span::after {
    background: #eee none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.item-content-blog-style2 .entry-title {
    margin-bottom: 55px;
}
#dor-blog-home-style2 .col-item-blog:last-child{padding-right: 0px;}
#dor-blog-home-style2 .item-blog-data{margin-left: 0px;margin-right: 0px;}
#dor-blog-home-style2 .head-tab-lists {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 0px;
}
#dor-blog-home-style2 .fancy-heading.text-center {
    margin-bottom: 40px;
}
#dor-tab-new-category {
    padding-bottom: 40px;
}


#dor-blog-home-style2 .post-item-info .col-item-blog:first-child {
    padding-left: 0;
}
#dor-blog-home-style2 .owl-carousel .owl-nav {
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
#dor-blog-home-style2 .owl-carousel.owl-loaded{position: relative;margin-left: 0px;margin-right: 0px;}
#dor-blog-home-style2 .owl-carousel .owl-prev,
#dor-blog-home-style2 .owl-carousel .owl-next {
    line-height: 28px;
    height: 30px;
    width: 30px;
    text-align: center;
    display: block;
    background-color: #5d957b;
    border: 1px solid #5d957b;
    color: #fff;
    font-size: 16px;
    border-radius: 100%;
    background-color: #171717;
    border-color: #171717
}
#dor-blog-home-style2 .owl-carousel .owl-prev > i{margin-left: -1px;}
#dor-blog-home-style2 .owl-carousel .owl-next > i{margin-right: -1px;}
#dor-blog-home-style2 .owl-carousel .owl-prev:hover,
#dor-blog-home-style2 .owl-carousel .owl-next:hover {
    background-color: #5d957b;
    border: 1px solid #5d957b
}

#dor-blog-home-style2 .owl-carousel .owl-nav .owl-prev,
#dor-blog-home-style2 .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
#dor-blog-home-style2 .owl-carousel .owl-nav .owl-prev {
    left: 25px
}

#dor-blog-home-style2 .owl-carousel .owl-nav .owl-next {
    right: 25px
}

#dor-blog-home-style2 .owl-carousel .owl-nav .owl-prev,
#dor-blog-home-style2 .owl-carousel .owl-nav .owl-next {
    top: calc((100% - 0px)/ 2);
    top: -moz-calc((100% - 0px)/ 2);
    top: -webkit-calc((100% - 0px)/ 2);
    top: -o-calc((100% - 0px)/ 2)
}

#dor-blog-home-style2 .owl-carousel:hover .owl-nav {
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#dor-blog-home-style2 .owl-carousel:hover .owl-nav .owl-prev {
    left: -15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#dor-blog-home-style2 .owl-carousel:hover .owl-nav .owl-next {
    right: -15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.row-latest-news .head-tab-lists {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0px;
}
.container.theme-container{position: relative;}
.blog-home-inner {
    padding-bottom: 60px;
    padding-top: 0px;
}
.row-latest-news .fancy-heading{
    margin-bottom: 50px;
}
.line-blog-title {
    margin-top: -8px;
    position: relative;
}
.line-blog-title i {
    color: #b7b7b7;
    font-size: 20px;
}
.line-blog-title i.icon-blog-ss {
    font-size: 14px;
    padding-top: 1px;
}
.line-blog-title > span {
    position: relative;padding-left: 10px;
    padding-right: 10px;
}
.line-blog-title > span::before{
    content: "";
    position: absolute;
    right: 100%;
    width: 50px;
    height: 1px;
    background-color: #b7b7b7;
    top: 12px;
}
.line-blog-title > span::after{
    content: "";
    position: absolute;
    left: 99%;
    width: 50px;
    height: 1px;
    background-color: #b7b7b7;
    top: 12px;
}

.home-style-button1 .row-latest-news .owl-carousel .owl-nav > div{
    width: 35px;height: 35px;line-height: 35px;

}

.home-style-button1 .row-latest-news .gst-post-list.owl-carousel.owl-loaded{position: relative !important;}
.home-style-button1 .row-latest-news .owl-carousel .owl-nav{
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-prev > i{margin-left: -1px;}
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-next > i{margin-right: -1px;}
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-prev:hover,
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-next:hover {
    background-color: #5d957b;
    border: 1px solid #5d957b
}
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-prev:hover i,
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-next:hover i{color: #fff;}
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-prev,
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-prev {
    left: 25px
}

.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-next {
    right: 25px
}

.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-prev,
.home-style-button1 .row-latest-news .owl-carousel .owl-nav .owl-next {
    top: calc((100% - 30px)/ 2);
    top: -moz-calc((100% - 30px)/ 2);
    top: -webkit-calc((100% - 30px)/ 2);
    top: -o-calc((100% - 30px)/ 2)
}

.home-style-button1 .row-latest-news .owl-carousel:hover .owl-nav {
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.home-style-button1 .row-latest-news .owl-carousel:hover .owl-nav .owl-prev {
    left: -15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.home-style-button1 .row-latest-news .owl-carousel:hover .owl-nav .owl-next {
    right: -15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}



#dor-blog-home-style3 .row-latest-news .owl-carousel .owl-nav .owl-prev{right: 42px;}
#dor-blog-home-style3 .row-latest-news .owl-carousel .owl-nav .owl-prev,
#dor-blog-home-style3 .row-latest-news .owl-carousel .owl-nav .owl-next{
    background-color: #f5f5f5;
    position: absolute;
    top: -59px;
    margin-top: 0px;
    width: 40px;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#dor-blog-home-style3 .row-latest-news .owl-carousel .owl-nav .owl-prev i,
#dor-blog-home-style3 .row-latest-news .owl-carousel .owl-nav .owl-next i{
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 700;
}

#dor-blog-home-style3 .row-latest-news .head-tab-lists {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: calc(100% - 100px);
}
#dor-blog-home-style3 .row-latest-news .head-tab-lists::before {
    background-color: #f5f5f5;
    content: "";
    height: 1px;
    left: auto;
    position: absolute;
    right: 0;
    top: 20px;
    width: 100%;
}

#dor-blog-home-style3 .row-latest-news .head-tab-lists::after {
    background-color: #f5f5f5;
    content: "";
    height: 1px;
    left: auto;
    position: absolute;
    right: 0;
    top: 22px;
    width: 100%;
    display: none;
}
#dor-blog-home-style3 .head-tab-lists.title-mod-news > span{
    padding-right: 10px;
    position: relative;
    background-color: #fff;
    z-index: 1;
}